[2017-11-09 00:57] rmichela opened #6 "Implement Reactor support"

[2017-11-10 02:43] rmichela opened #8 "Fix code coverage"
JaCoCo doesn't do multi-module code coverage for integration tests automatically. It seems more configuration is required.

https://stackoverflow.com/a/41901853

[2017-11-10 02:49] rmichela opened #9 "Make *ImplBase classes stand-alone"
Right now, the reactive `*ImplBase` classes are subclasses of the standard gRPC `*ImplBase` classes. This was done initially for expediency because gRPC `*ImplBase` class already implements `BindableService.bindService()`. The downside is that the reactive `*ImplBase` class has both reactive operations and gRPC `StreamObserver` operations, which is confusing.

Now that the project is maturing, the

[2017-11-10 18:48] rmichela opened #10 "Perf testing"
We need some performance testing to get a handle on the performance impact of reactive grpc.

[2017-11-10 18:48] #6 closed

[2017-11-10 18:54] cbornet opened #11 "Add demo for Reactor"

[2017-11-13 16:35] dturanski opened #13 "BackpressureIntegrationTest failing"
I'm running this on macOS Sierra 10.12.6 MacBookPro, 2.5GH Intel Core 17 16GB.  It passes if I set `madMultipleCutoff = 1`.  Anything higher will fail at least one of the tests.

[2017-11-13 18:13] rmichela commented on #13
Backpressure detection is tricky, because there is no API event to say it happened. Instead, we have to rely on a statistical method that can be unreliable. Basically, the faster and more powerful your computer is, the less likely backpressure will be triggered.

You can safely ignore this test if everything else is passing.

[2017-11-13 18:43] dturanski commented on #13
Everything else appears to be passing. It looks like early days, but may want to @Ignore it in master. Just sayin`  I can submit a PR for that if you want

[2017-11-13 18:46] cbornet commented on #13
Wouldn't simulating a long lasting operation on the consumer be a way to ensure backpressure ?

[2017-11-13 19:05] dturanski commented on #13
True but how do you reliably detect BP?

[2017-11-13 21:44] cbornet commented on #13
So the consumers are actually slowed down by thread-sleeping.
@rmichela are you sure the test would fail on fast-hardware ? I would say it should fail on the contrary on slow HW when the producer is not fast-enough compared to this waiting time.

[2017-11-13 21:53] cbornet commented on #13
Maybe a good other way to test would be a quite long consumer sleep, eg. 1s. Then assert that after 2.5s you only get one tick difference with the number of ticks that was detected at 1.5s

[2017-11-13 21:54] rmichela commented on #13
You may be right. We can add longer sleeps to the consumer to force backpressure even on slow machines.

[2017-11-13 22:43] #11 closed

[2017-11-13 23:24] cbornet commented on #13
So the assertions on the number of ticks during 1s will not work since there seems to be some kind of buffering (probably at gRPC level)
Another idea : measure the max time between 2 ticks and assert that it's superior than a given value.

[2017-11-14 00:12] cbornet commented on #13
I have a PoC working : I use a non waiting producer (IntStream) and a non waiting consumer except for one of the early values (eg. 3) where I wait for a long time (eg. 2s). During that time the producer will fill the buffer until it is full (about 128 values) and then will get backpressured. The filling of the buffer takes far less than 1s. So in the assertion I test that the max time between 2 pr

[2017-11-18 10:10] #13 closed

[2017-11-19 08:13] rmichela commented on #13
Fantastic!

On Sat, Nov 18, 2017 at 2:10 AM Christophe Bornet <notifications@github.com>
wrote:

--
Ryan Michela
Principal Member of Technical Staff | Salesforce
﻿

<http://smart.salesforce.com/sig/rmichela//us_mb/default/link.html>

[2017-11-20 11:06] cbornet commented on #9
@rmichela I can take it if you want.
Also I propose to group the methods in an individual "methods" tag and have a flag for the type of method (oneToOne, oneToMany, ...). Then we can add more fields in the context (eg. grpcMethod, boxType=Flux,Mono,Single,Flowable, ...) and simplify the templates.

[2017-11-20 14:21] cbornet commented on #9
Also, shouldn't we use fully qualified names for the types we use to avoid naming conflicts as much as possible (eg. if someone calls his protobuf type `Single` or `Flux`) ?

[2017-11-20 17:09] rmichela commented on #9
Sounds good to me. I agree with the fully-qualified names and template simplification. I haven't touched the generator code since the initial POC.

[2017-11-21 07:15] #9 closed

[2017-11-21 16:49] cbornet opened #18 "Test required_spec317_mustNotSignalOnErrorWhenPendingAboveLongMaxValue random failure"
This test required_spec317_mustNotSignalOnErrorWhenPendingAboveLongMaxValue from the TCK randomly fails.

Stacktrace : <details>
[code]
</details>

[2017-11-21 16:52] cbornet opened #19 "Kotlin demo"
I had some fun converting one of the demo to Kotlin.
I think it would be nice to use Kotlin the Reactor demo since the code generated is perfectly compatible.

@rmichela WDYT ?

[2017-11-21 16:56] rmichela commented on #18
I've fought long and hard with this test. It _usually_ passes.

From what I remember, the TCK makes the subscriber `request(Long.MAX)`, which makes it all the way to the gRPC service. The gRPC service starts producing like crazy, which gets buffered up during the gRPC -> Rx transition on the server side. On rare occasions, the buffer overflows, causing `Queue is full` error.

I could never get thi

[2017-11-21 17:14] rmichela commented on #19
Kotlin would be fun. 😁

I think it should be its own demo, in addition to the others. I don't want to lump too many disparate technologies into a single demo, otherwise the demo will lose its focus.

Do Kotlin and Java play nicely in the same IDE?

[2017-11-22 04:20] rmichela opened #20 "Release 0.7.0"
I think we are ready to release 0.7.0.

@cbornet Do you agree, or is there more you'd like to see added?

[2017-11-22 06:01] cbornet commented on #20
👍

[2017-11-22 06:15] cbornet commented on #19
My idea was to convert the full ReactorChat demo to Kotlin. I can also create a ReactorChat-Kotlin folder.

I use IDEA and it works perfectly. I don't know for the other IDEs.

[2017-11-22 06:18] cbornet commented on #19
Note that the stub and generated Reactor-gRPC code stays in JAVA. It's only the implementation code in the demo which is in Kotlin (Kotlin has 100% compatibility with JAVA code)

[2017-11-22 16:55] rmichela commented on #19
Does Kotlin have any special relationship that makes it a valuable additional demo?

If not, it sound like the Kotlin part is just for show (and because we can 😜 ). In that case, it makes sense to create a separate `ReactorChat-Kotlin` demo. That way the java-centric demos still show how vanilla java works.

[2017-11-22 17:22] cbornet commented on #19
Yes Kotlin is for the show and because it’s a really nice language 😄

[2017-11-22 19:19] #20 closed

[2017-11-22 19:38] rmichela commented on #18
This test now appears to be consistently failing in Travis CI. 🙁

[2017-11-23 05:27] rmichela commented on #20
The release is live on Maven Central 🎉

https://search.maven.org/#search%7Cga%7C1%7CCom.salesforce.servicelibs

[2017-11-23 08:45] cbornet commented on #20
:tada:

[2017-11-27 04:00] rmichela opened #21 "Gradle support"
Add support for the [Google protobuf gradle plugin](https://github.com/google/protobuf-gradle-plugin).

See: https://github.com/google/protobuf-gradle-plugin/issues/168

[2017-11-27 06:21] cbornet commented on #21
But for this to work, don't we need the jar to be executable ?

[2017-11-27 06:25] rmichela commented on #21
Notes:
* https://github.com/google/protobuf-gradle-plugin/issues/31#issuecomment-315907690
* https://skife.org/java/unix/2011/06/20/really_executable_jars.html

[2017-11-27 06:26] rmichela commented on #21
Executable jars are _possible_ 😉

[2017-11-27 06:43] cbornet commented on #21
Of course it's possible 😄 . Spring Boot does it for instance.
The hard part is to publish an executable for each platform (Windows, Linux, 32/64 bits, ...).

[2017-11-27 06:46] rmichela commented on #21
Based on the linked article, we only have to publish one artifact for linux-like operating systems. Bash and the existing platform-specific Java installation will take care of the rest.

Windows, OTOH, is a different story.

[2017-11-27 07:23] cbornet commented on #21
For Windows, the maven protobuf plugin uses [winrun4j](http://winrun4j.sourceforge.net/)

[2017-11-27 07:29] cbornet commented on #21
Code [here](https://github.com/xolstice/protobuf-maven-plugin/blob/protobuf-maven-plugin-0.5.1/src/main/java/org/xolstice/maven/plugin/protobuf/ProtocPluginAssembler.java#L123)

[2017-11-27 08:35] rmichela commented on #21
So far I've got the `spring-boot-maven-plugin` generating self-contained, self-executing jars that work with with the `protobuf-gradle-plugin`. End-to-end tests work for Rx and Reactor! 🎉

This technique only works for Linux-like operating systems, which is enough to start. I have not yet verified that code signing works correctly with the spring boot packaging format.

[2017-11-27 08:46] rmichela commented on #21
Self executing spring boot jars work by prepending a [launcher bash script](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-tools/spring-boot-loader-tools/src/main/resources/org/springframework/boot/loader/tools/launch.script) to the front of the jar's zip content. This is [allowed](https://en.wikipedia.org/wiki/Zip_(file_format)#Combination_with_other_fi

[2017-11-27 10:35] jebbench commented on #21
We've got this running under Pants by building an uber jar and then creating a shell script that just calls it - we point Protoc at the shell script which in turn calls the jar.

[code]

Obviously isn't pretty and only works where bash is available but I don't imagine it would be hard to put together a Powershell equivalent.

[2017-11-27 11:25] cbornet commented on #21
Yes.
A possibility is also to include the runtime : https://docs.oracle.com/javase/8/docs/technotes/guides/deploy/self-contained-packaging.html

[2017-11-27 18:41] rmichela commented on #21
@jebbench I've got the build producing a `-jdk8.jar` artifact compatible with the `:jdk8@jar` notation supported by the protoc-gradle-plugin. It embeds a similar script to yours as a prefix to the plugin's .jar file.

As you pointed out, this solution is *nix centric. Support for executing scripts as programs using `#!/...` notation is [generally consistent](https://www.in-ulm.de/~mascheck/various

[2017-11-28 02:49] rmichela commented on #21
I've merged #22 . Subsequent changes can come in separate PRs.

[2017-11-28 02:49] #21 closed

[2017-11-28 03:01] rmichela commented on #18
I've disabled the flapping tests for now to get CI under control.

[2017-11-28 04:19] nevi-me commented on #21
Hello :wave:

I'm the user who asked about this on the gRPC mailing list. I'll try out the plugin when Gradle support's landed for Windows. I develop in Windows but deploy to Linux :)

[2017-11-28 06:15] cbornet commented on #21
@nevi-me as a workaround, you can call the maven-wrapper from a gradle task. See [here](https://github.com/cbornet/generator-jhipster-grpc/blob/v0.14.1/generators/app/templates/_grpc.gradle) for an example. A bit ugly but it works.

[2017-12-01 17:23] dadadom opened #26 "Gradle Plugin fails when importing protobufs with underscore in filename"
I have the following protobuf definitions in `src/main/proto`:

`some_parameter.proto`:
[code]
`my_service.proto`:
[code]

`gradle.build`:
[code]

Gradle error message:
[code]

If I rename `some_parameter.proto` to `someparameter.proto` and change the imports accordingly, compilation and Reactor class generation works.

It also works if I add the following to `some_parameter.proto`:
[code]

As it

[2017-12-01 17:57] rmichela commented on #26
Weird...I'll look into it.

[2017-12-01 19:28] dadadom commented on #26
Works with the following ` pom.xml`:
[code]

[2017-12-01 19:39] rmichela commented on #26
@cbornet Any ideas?

[2017-12-01 20:14] dadadom commented on #26
I just put the complete code in a new repository:
https://github.com/dadadom/failing-reactor-grpc/

[2017-12-01 23:59] dadadom commented on #26
After some further investigation, it seems that this only fails iff the filename and the message name resolve to the same Java notation. In that case, the generated `inputType` and `outputType` for the mustache template, generated by the `ProtoTypeMap` from grpc-java-contrib seem to be wrongly generated.

I guess that the culprit is somewhere around https://github.com/salesforce/grpc-java-contrib/

[2017-12-03 08:01] rmichela commented on #26
## Root Cause

* Absent `option java_outer_classname`, protoc generates an outer java class for each .proto file with a name derived from the .proto file name.
* If no explicit java_outer_classname is specified in the .proto file, the class name will be constructed by converting the .proto file name to camel-case (so `foo_bar.proto` becomes `FooBar.java`)
* Protoc generates an inner class for each

[2017-12-03 22:33] rmichela commented on #26
https://github.com/salesforce/grpc-java-contrib/pull/67

[2017-12-04 11:08] cbornet opened #27 "Wrong uppercasing of method names"
The method we use:
[code]
doesn't match the one used by grpc-java.

Proto method `CreateEntityWithDTO` becomes `CREATE_ENTITY_WITH_D_T_O` instead of `CREATE_ENTITY_WITH_DTO`

[2017-12-04 11:18] cbornet commented on #27
It's kinda funny that Google isn't consistent in it's case format conversions between guava and gRPC :smile:

[2017-12-04 11:24] cbornet commented on #27
gRPC upper-casing method is [here](https://github.com/grpc/grpc-java/blob/d87ef74082220bdbdcb98b94cd9a3dac9482d813/compiler/src/java_plugin/cpp/java_generator.cpp#L58)

[2017-12-05 10:53] #27 closed

[2017-12-05 11:04] #19 closed

[2017-12-06 15:50] bartlomiej-dawidow opened #32 "Update grpc-java-contrib README.md"
The grpc-java-contrib's readme currently points to rxgrpc which no longer exists. See here: https://github.com/salesforce/grpc-java-contrib

[2017-12-06 16:45] #32 closed

[2017-12-20 14:02] dadadom commented on #26
Any plans on releasing updated versions of jprotoc and reactive-grpc?

[2017-12-20 17:13] rmichela commented on #26
Yes. Today

[2017-12-20 18:16] rmichela commented on #26
https://github.com/salesforce/grpc-java-contrib/pull/70

[2017-12-20 20:34] #26 closed

[2017-12-20 21:55] rmichela commented on #26
Released in 0.7.3

[2017-12-21 10:17] dadadom commented on #26
You guys rock, thanks!

[2018-01-11 10:46] matgabriel opened #36 "Best way to retry on a reactive-grpc stream after an error"
Hello,

I have a pretty simple use case: a gRPC service with a method taking a stream as argument and returning a stream.

I would like to resubscribe, if for example the remote server goes down.
On a normal stream if would just use retry (with some delay) to resubscribe on error:

`Flux<ResultType> resulfFlux =  myService.myMethod(sourceStream).retry();`

However it is not possible with reactive-

[2018-01-11 17:01] rmichela commented on #36
Hmm... I'll have to do some digging to come up with a more elegant solution. @cbornet Any ideas from your end?

[2018-01-11 20:00] matgabriel commented on #36
I found another solution that is a more elegant: we can simply wrap it in another Flux:
[code]

this way the gRPC stream is recreated by the retry.

[2018-01-11 21:13] rmichela commented on #36
Composability FTW!

Is there a way to codify this pattern in a custom operator? Does even make sense to?

RxJava supports [custom operators and transformers](https://github.com/ReactiveX/RxJava/wiki/Implementing-Your-Own-Operators) that can implement patterns like this. Does Reactor support something similar? (@cbornet knows Reactor a lot better than I do.)

[2018-01-12 06:32] cbornet commented on #36
@rmichela yes Reactor has custom operators and transform. Actually Reactor is a rewrite of RxJava so most of RxJava concepts are available. See an example of transformation [here](https://github.com/salesforce/reactive-grpc/blob/master/reactor/reactor-grpc-stub/src/main/java/com/salesforce/reactorgrpc/stub/ClientCalls.java#L48). So if we do something for one of the lib, it should be easy to do it

[2018-01-12 10:13] matgabriel commented on #36
One simple way to reuse it is to wrap it in a class extending Flux (or Flowable):

[code]

Then we can use it like that:

`Flux<ResultType> resulfFlux = new GrpcRetryFlux<>(() -> myService.myMethod(sourceFlux));`

I am not sure if it would be worth including something like that in the generated code.
In most of my use cases I want to try to reconnect to the streams, but some people might have diff

[2018-01-12 17:02] rmichela commented on #36
I was thinking about retry/reconnect last night. How it's implemented is very application specific.

Your `Flux.create(sink -> ...` solution is essentially a one-liner. I'm thinking it may be better as a documentation note instead of a library class.

[2018-01-13 10:44] matgabriel commented on #36
Agreed, this is simple enough to let the user choose.

[2018-01-16 14:01] OlegZhilo opened #37 "Lambda expressions break Android"
Could u explain? how to add u library to Android Studio?

All classes have generated. But after call stub I have a crash.
![crash](https://user-images.githubusercontent.com/8090222/35051331-0e990a9e-fbb6-11e7-9c73-045dd8b4c376.png)
Multidex is enabled. MinSdk 21.
![grpc](https://user-images.githubusercontent.com/8090222/35051484-5cba050c-fbb6-11e7-9436-604931b8db56.png)

[2018-01-17 17:57] rmichela commented on #37
Thanks for the update. Android development only supports [language features up to JDK 7](https://stackoverflow.com/questions/20480090/does-android-support-jdk-6-or-7).

Reactive-Grpc uses lambda expressions from JDK 8. I'll have to replace the lambda expressions with classes to make Reactive-Grpc work on Android. :confused: Thank you for bringing this to my attention. Unfortunately, there is no qu

[2018-01-17 18:02] rmichela commented on #37
It looks like the latest Android Studio supports some Java8 features. Perhaps this can help? https://developer.android.com/studio/write/java8-support.html

[2018-01-17 18:54] OlegZhilo commented on #37
I have build project on macOs and everything is fine. But on my work place I have a pc + ubuntu, and app that build on ubuntu machine get a crash on call to server. That's very strange behavior....

[2018-01-17 19:25] OlegZhilo commented on #37
I have found answer....
In com.salesforce.rxgrpc.stub.ClientCalls you are using
import java.util.function.BiConsumer;
import java.util.function.Function;

but android support it on api 24+
On Android Nougat and Oreo works perfect, but on <24 crash....

[2018-01-17 19:34] rmichela commented on #37
Thanks for the update. I'll have to make some updates so the stubs compile for older versions of Android.

[2018-01-17 19:39] OlegZhilo commented on #37
I'm sorry for my perseverance. When do you plan update it?

[2018-01-17 20:04] rmichela commented on #37
I don't have an ETA. If you need this faster, I'm happy look at a PR. :wink:

[2018-01-17 20:06] OlegZhilo commented on #37
ok, thanks))

[2018-01-18 08:08] rmichela commented on #37
I've opened a PR. Can you test it before I merge? I don't have an Android development environment to use.

[2018-01-18 08:56] OlegZhilo commented on #37
Will look into it immediately)))

[2018-01-18 09:16] OlegZhilo commented on #37
How can I painless get dependency in my project?
Sorry for my noob question.

[2018-01-19 16:38] rmichela opened #39 "Grpc 1.9.0"
Upgrade to gRPC 1.9.0

[2018-01-19 16:44] rmichela commented on #37
I've downgraded the language level for RxGrpc to 1.6 to support RxJava on Android. @OlegZhilo has verified the fix.

I will ship 0.7.3 no later than the end of January. Release is currently blocked by #40.

[2018-01-19 16:44] #37 closed

[2018-01-20 10:01] OlegZhilo commented on #37
@rmichela Thanks so much.

[2018-01-24 18:49] #39 closed

[2018-02-01 03:59] bartlomiej-dawidow opened #41 "Depracated API in grpc 1.9.0"
The "XxxServiceGrpc.METHOD_YYY" static fields have been deprecated in the recent grpc releases and replaced with methods. The change is explained here:
https://github.com/grpc/grpc-java/issues/1901

To reproduce, update grpc to 1.9.0 and generate stubs for any service. The generated code will produce deprecation warnings during compilation.

[2018-02-01 07:07] cbornet commented on #41
Indeed ! Would you do a PR for this ?

[2018-02-01 22:46] #41 closed

[2018-02-02 05:21] #36 closed

[2018-02-02 06:08] rmichela opened #46 "Release 0.8.0"
Now with Android support (@OlegZhilo FYI)

[2018-02-02 10:02] OlegZhilo commented on #46
Thanks so much.

[2018-02-02 18:53] #46 closed

[2018-02-11 10:08] bsideup commented on #36
@matgabriel
[code]

[2018-02-12 09:43] matgabriel commented on #36
@bsideup
Thanks, using defer is a better solution since it handles the cancellation of the source Flux automatically.
In my tests it also seems to handle error scenarios better.

[2018-02-12 11:08] cbornet commented on #36
@matgabriel @bsideup would of you do a PR to update the demo ?

[2018-02-13 08:07] matgabriel commented on #36
Done:
https://github.com/salesforce/reactive-grpc/pull/49

[2018-02-15 15:15] emanueleDiVizio opened #50 "Cannot add Interceptor to delegate stub"
As of now, it doesn't seem possible to manipulate the `delegateStub` inside the generated `ServiceStub`.
As an example, I would like to add an `Interceptor` to log objects passing on the stream. Is there any other way to do so?

Generated stub:

[code]

What I'd like to do:

[code]

[2018-02-15 18:02] rmichela commented on #50
You can use `ClientInterceptors.intercept()` to attach an interceptor to the `Channel` used by the stubs. Internally, this is what `AbstractStub.withInterceptors()` does.

[code]

The fact that the generated Rx stubs do not themselves implement `AbstractStub<T>` is indeed sub-optimal.

[2018-02-16 10:25] p-fischer opened #52 "Code generator uses proto directory hierarchy as part of the outer class name"
In Rx*Grpc.java files, rxgprc code generation creates wrong package paths when referring to generated message classes. Here is an example method. Notice that the qualified path to `HeartbeatRequest` includes slashes:
[code]
the grpc equivalent:
[code]

The protocol buffers specifications looks like this:
[code]

I tested the code generation in both a Java and an Android projects with `java` and `j

[2018-02-16 17:19] rmichela commented on #52
I see what's going on. I can reproduce the problem when I put `frontend.proto` in the `proto/com/example/v1` subdirectory. When the proto is in a subdirectory, the generator assumes the directory path is part of the class name. 🤦‍♂️ `Com/example/v1/frontend.HeartbeatRequest`

The temporary workaround is to remove the directory nesting above `frontend.proto`.

I'll look into why the generator is us

[2018-02-16 17:23] #50 closed

[2018-02-21 14:32] p-fischer commented on #52
As suggested, I removed the subdirectories. In order for imports to work, I also had to remove the package declaration.

Unfortunately, the workaround is not working either because now the generated code references `HeartbeatRequest` as `Frontend.Heartbeat`. But the generated class is `FrontendOuterClass` and not `Frontend`. Hence, the reference should be`FrontendOuterClass.Heartbeat`.

Here is th

[2018-02-21 15:37] p-fischer opened #55 "delegateStub methods return void, but Rx*Grpc expects return type StreamObserver"
I'm using this protocol buffers specification:
[code]

The generated method looks like this:
[code]

Besides the issue described in #52 the generated code has an additional error at `delegateStub::heartbeat`.

The `heartbeat` method does not return a `StreamObserver` but instead expects to get one passed as an argument and returns void:
[code]

[2018-02-21 16:41] rmichela commented on #55
Thanks @p-fischer for reporting these issues, although I'm sorry you had to hit them. 😕

I'll take a look as soon as I can.

[2018-02-21 16:52] rmichela opened #56 "Codify gRPC Context propagation for Reactor"
Replicate #54 for Spring Reactor.

Reactor handles context propagation differently than RxJava. See https://github.com/reactor/reactor-core/blob/master/src/docs/asciidoc/advancedFeatures.adoc#adding-a-context-to-a-reactive-sequence

[2018-02-22 12:14] emanueleDiVizio opened #57 "NetworkOnMainThreadException on two way stream."
Hello, I'm sporadically having a NetworkOnMainThreadException when pushing an action on a twoway stream. The action is pushed through a subject, code below.

[code]

Where is the thread in which the action is fired defined?

[2018-02-22 16:18] rmichela commented on #57
I’m not really familiar with Android development. Can you post the full
stack trace to your NetworkOnMainThreadException?

RxGrpc streaks are processed on the same thread pool as gRPC streams.

On Thu, Feb 22, 2018 at 4:14 AM Emanuele <notifications@github.com> wrote:

--
Ryan Michela
Principal Member of Technical Staff | Salesforce
﻿

<http://smart.salesforce.com/sig/rmichela//us_mb/default/link.

[2018-02-23 11:17] emanueleDiVizio commented on #57
Sure, there it is. Thanks.

[code]

[2018-02-23 16:45] rmichela commented on #57
Are you, by chance, calling ManagedChannelBuilder.directExecutor() when
setting up your client channel?

On Fri, Feb 23, 2018 at 3:17 AM Emanuele <notifications@github.com> wrote:

--
Ryan Michela
Principal Member of Technical Staff | Salesforce
﻿

<http://smart.salesforce.com/sig/rmichela//us_mb/default/link.html>

[2018-02-26 13:47] bsideup opened #58 "Backpressure"
Hi!

Are there any well-known backpressure issues? I get backpressure-related exceptions in my app and I have a feeling that they come from reactive-grpc.

I know that there is no "request demand" notion in gRPC and you have to deal with readiness, this is why I expect issues with backpressure by nature.

[2018-02-26 17:30] bsideup commented on #58
@rmichela Reactor gives me `OverflowException`

Don't get me wrong, I'm still not sure whom to blame, just wanted to re-check, maybe there are some known issues with backpressure in `reactive-grpc`

[2018-02-26 20:04] rmichela commented on #57
@emanueleDiVizio Were you able to figure out what is going on?

[2018-02-27 10:40] emanueleDiVizio commented on #57
Not yet, and unfortunately i'm not calling that method :/

[2018-02-27 14:46] emanueleDiVizio commented on #57
From what i gathered, it seems like that the call is executed in the default grpc thread pool, which happens to contain Main Thread as well, thereby causing the app to crash every so often. Do you reckon it can be this?

[2018-02-27 16:32] rmichela commented on #57
gRPC Java has a bunch of internal switches that change its behavior when running on Android. Here are some things you can try:

1. Use [`ManagedChannelBuilder.executor()`](https://grpc.io/grpc-java/javadoc/io/grpc/ManagedChannelBuilder.html#executor-java.util.concurrent.Executor-) to explicitly provide a thread pool that is not your UI thread pool.
1. Use [RxJava's `observeOn()` and `subscribeOn()

[2018-02-28 15:20] bsideup commented on #58
@rmichela I'm running different tests right now to figure out where the problem is.

Too many moving parts (my code, gRPC, reactive-gRPC, gRPC-netty/Armeria, client, client's code), I'll try to narrow it first :)

[2018-02-28 17:16] rmichela commented on #58
Thanks! Keep me posted.

Even if the problem isn't in RxGrpc itself, your findings will make for good documentation. 😉

[2018-02-28 17:20] emanueleDiVizio commented on #57
Unfortunately, the call`io.grpc.internal.ProxyDetectorImpl.detectProxy(ProxyDetectorImpl.java:127)` is still happening on `grpc-default-executor-0` even though I set up the channel with `.executor(Executors.newSingleThreadExecutor())`, which is indeed respected while receiving data from the server. I'll now try to wrap it in to an async task, although it seems like the rogue call ignores the start

[2018-02-28 17:47] rmichela commented on #57
I'm curious, can you reproduce the problem when using gRPC-java's native APIs?

[2018-02-28 19:04] bartlomiej-dawidow opened #59 "ReactiveExecutor overrides NettyServerBuilder.executor?"
What is the rationale behind calling observerOn(…) in ServerCalls.java? For example here:
https://github.com/salesforce/reactive-grpc/blob/510c70cdcc8dd7899d3a27719f8755f17602d2aa/rx-java/rxgrpc-stub/src/main/java/com/salesforce/rxgrpc/stub/ServerCalls.java#L103

The effect is that even if you provide a custom executor to NettyServerBuilder, the execution gets transferred to the default unbounded

[2018-03-01 11:45] emanueleDiVizio commented on #57
It was indeed a bug in the gRPC library, as per https://github.com/grpc/grpc-java/issues/4154#issuecomment-369392059. By wrapping the actual grpc call in a separate thread the issue is solved. `Flowable.fromCallable(() -> stub.startSession(actionFlowable)).flatMap(commandFlowable -> commandFlowable).subscribeOn(Schedulers.newThread())
`

[2018-03-01 16:00] emanueleDiVizio commented on #52
I'm having the same problem. Any update on this?

[2018-03-01 19:53] rmichela commented on #57
I'm glad you found the source.

[2018-03-01 19:53] #57 closed

[2018-03-01 19:54] rmichela commented on #52
Still digging into this.

[2018-03-02 11:29] tukez opened #61 "Request flux subscription is not canceled when channel disconnects."
Request flux subscription will not be canceled when channel disconnects.

[code]

I can avoid the problem by wrapping the request flux, but this behaviour seems like a bug to me.

Workaround:
[code]

[2018-03-02 16:12] cbornet commented on #61
@tukez can you give more details on how you disconnect the channel ? Ideally a PR with a failing test case.
We have tests on [cancellation](https://github.com/salesforce/reactive-grpc/blob/master/reactor/reactor-grpc-test/src/test/java/com/salesforce/reactorgrpc/CancellationPropagationIntegrationTest.java#L166) but maybe some cases are not covered.

[2018-03-05 07:13] tukez commented on #61
I couldn't produce a failing test case. This is what I tried (notice the Thread.sleep(1000) and the comment):
[code]
I made a standalone test server and client to reproduce the bug.

1. Start server
2. Start client
3. Kill server
4. Client should print "Client stream canceled" (wont print, that's the bug)

Server:
[code]
Client:
[code]

[2018-03-06 21:06] rmichela commented on #52
@p-fischer @emanueleDiVizio I've got a fix in and am working on releasing it.

[2018-03-07 01:00] rmichela commented on #55
@p-fischer Can you test this version before I release?

[2018-03-07 01:01] rmichela commented on #52
@p-fischer @emanueleDiVizio Can you test this fix before I release?

[2018-03-07 11:01] p-fischer commented on #52
@rmichela I'd like to test it. Can you please explain how to do it?
I guess I have to replace these references:
[code]

[code]

[2018-03-07 17:44] rmichela commented on #52
1. Get the latest code `git clone git@github.com:salesforce/reactive-grpc.git`, `cd reactive-grpc`
2. Compile and install the -SNAPSHOT version `mvn install`
3. Add the maven local repository to your gradle repositories section `mavenLocal()`
4. In your gradle file, use the installed -SNAPSHOT version `def reactiveGrpcVersion = '0.8.1-SNAPSHOT`

[2018-03-07 22:22] rmichela commented on #18
Fixed in #60

[2018-03-07 22:22] #18 closed

[2018-03-07 22:54] rmichela commented on #59
Hi @bartlomiej-dawidow,
I haven't been ignoring your question. It really got me thinking and ultimately drove some changes to RxGrpc.

The `.observeOn()` calls you pointed out were originally added from a lot of experimentation while developing early versions of RxGrpc. Your question inspired me to dig deeper.

The way I'm using `.observeOn()` takes advantage of its internal buffer. A typical user

[2018-03-08 01:15] rmichela commented on #58
@bsideup Any update?

[2018-03-08 08:33] cbornet commented on #18
Awesome 👏 !

[2018-03-08 08:34] rmichela opened #65 "Convert Reactor code to fluent style"
I've converted RxJava tests and examples to the fluent style in https://github.com/salesforce/reactive-grpc/commit/9c410b0b67fa4eb0d7440ec321c2cb08ed8722a6

We need to do the same for Reactor tests and examples. Reactor has `compose()` and `as()` operations, [just like RxJava](https://stackoverflow.com/questions/47348706/compose-vs-transform-vs-as-vs-map-in-flux-and-mono).

[2018-03-08 08:36] rmichela commented on #18
We now 💯pass the TCK 🎉

[2018-03-08 08:47] cbornet commented on #61
@rmichela do you know what is the behavior of gRPC when the channel disconnects ? Does it emit an error ?

[2018-03-08 17:27] rmichela commented on #61
That really depends on the _way_ that gRPC disconnects.

The only "safe" way to close a stream is explicitly calling `onComplete()`, `onError()`, or `cancel()`. The client and server can also `shutdown()`, which sends a GO_AWAY frame to all connected peers initiating a graceful disconnect.

 I've seen noisy exceptions in gRPC when the client or server process is unexpectedly killed.

[2018-03-09 13:09] p-fischer commented on #52
I was able to test the SNAPSHOT. Thanks for the precise instructions!

The sample snippet compiles now. Great Job! :)

With this protocol, I ran into another error though:
[code]
The issues relate to the underscores in the rpc name.
grpc generates this method:
[code]
Notice that the generator keeps the underscores in the message name, but changes the rpc name to camel case (or simply removes the u

[2018-03-09 17:06] #55 closed

[2018-03-09 17:06] rmichela commented on #52
Thanks. I'll close this issue and take a look at the other one.

[2018-03-09 17:06] #52 closed

[2018-03-09 17:48] rmichela opened #66 "Underscores in RPC name breaks code generation"
This proto doesn't generate compiling code.
[code]
Generated calls to `delegateStub::settingsGet_Classic_1` should be `delegateStub::settingsGetClassic1`.

[2018-03-09 17:49] rmichela commented on #66
Workaround: Don't use underscores in RPC names. The [Protobuf style guide](https://developers.google.com/protocol-buffers/docs/style#services) doesn't recommend them either.

[2018-03-09 18:26] #66 closed

[2018-03-09 18:34] rmichela commented on #61
@tukez Can you tell me more about the behavior you are expecting when a server is gracelessly killed? Is an exception escaping your onError handler?

Reactive-gRPC tries to follow the behavior of gRPC as closely as possible. When a server unexpectedly explodes mid stream, this is indeed an error and should be reported as such, whereas stream cancellation is something the server does by choice. How

[2018-03-09 18:43] tukez commented on #61
@rmichela When server is killed, I expect the request flux subscription to be cancelled. By request flux, I mean the flux given as a parameter to the RPC. In this case the error is happening on the server side (if you think in terms of flux subscription/production, the server is the subscriber), so the subscription should be cancelled.

[2018-03-09 22:34] rmichela commented on #61
I've refactored the middle of your client to make the pipeline more clear.
[code]

If I understand your request, when an exception occurs in gRPC, an error should be propagated downstream, but a cancellation should be propagated upstream?

[2018-03-10 02:14] rmichela commented on #61
I've been digging into the Rx specs and you are correct. Errors in the middle of a stream should propagate an `onError()` downstream and a `cancel()` upstream.

[2018-03-12 11:54] bsideup commented on #58
Hi @rmichela,

So far so good :) We had an issue with Armeria, but when we reverted it to gRPC-netty + reactive-grpc everything became stable 👍

[2018-03-14 06:46] tukez opened #68 "Error signal not propagated because canceling subscription throws exception"
Note: I'm not entirely sure is the problem on grpc, reactive-grpc, or even reactor side. Let's see what you guys think...

Stack trace:
[code]
One of my own subscribers throws an exception which is caught in
[code]
Before LambdaSubscriber propagates the error downstream, it calls cancel() on the subscription. That cancel() call throws the problematic exception.

I think the interesting part is her

[2018-03-14 08:53] tukez commented on #68
Also, some bits from reactivestreams spec:
https://github.com/reactive-streams/reactive-streams-jvm/blob/v1.0.2/README.md#user-content-2.13
[code]
https://github.com/reactive-streams/reactive-streams-jvm/blob/v1.0.2/README.md#user-content-3.15
[code]

[2018-03-14 16:09] rmichela commented on #68
Sounds reasonable. Some of the subtle spec mismatches between gRPC and Reactive have been tricky to find.

Can you provide a test program that reproduces the problem? That would make fixing significantly easier. 😁

[2018-03-15 19:31] p-fischer commented on #52
@rmichela When are you going to release version 0.8.1?

[2018-03-15 19:36] rmichela commented on #52
Tonight. I was hoping to get the cancellation-related bug fixes in first, but if that proves more complicated than anticipated, I'll cut the release without them.

[2018-03-16 06:27] rmichela commented on #52
Released

[2018-03-20 08:03] tukez opened #72 "Backpressure is not respected"
Backpressure is not respected and the server seems to get additional requests which are not coming from the client.

[code]
This is where the server side requests are coming from (non-thrown exception to print stack trace).
[code]
I have a test server & client attached to reproduce this. Start the client with -Dreactor.bufferSize.small=10 to reproduce easier (default is 256 I think). It affects th

[2018-03-20 15:44] rmichela commented on #72
Thanks for the find @tukez. @cbornet can you take a look? Otherwise, I'll get to it soon.

[2018-03-21 08:08] tukez commented on #72
I found another issue somewhat connected to the backpressure issue when I was investigating this one. I noticed that the publishOn-operator uses the grpc shared channel executor and it is not configurable. PublishOn-operator is added in ReactorConsumerStreamObserver and couple other places too.

Firstly, I think the executor should be configurable.

Secondly, it seems the publishOn-operator create

[2018-03-21 15:22] rmichela commented on #72
Have you tried upgrading to 0.8.1? This problem was partially addressed.

I’m also working on a more comprehensive fix in 0.8.2.

On Wed, Mar 21, 2018 at 1:09 AM tukez <notifications@github.com> wrote:

--
Ryan Michela
Principal Member of Technical Staff | Salesforce
﻿

<http://smart.salesforce.com/sig/rmichela//us_mb/default/link.html>

[2018-03-29 09:56] revers-back opened #73 "Warning on Android Studio 3.1 gradle when generating proto"
After upgrading to Android Studio 3.1 and new version of gradle the  wearning below occurs:

dependencies:

com.android.tools.build:gradle:3.1.0
com.google.protobuf:protobuf-gradle-plugin:0.8.3

Gradle version:  gradle-4.4-all

`> Task :app:generateDebugProto
Using TaskInputs.file() with something that doesn't resolve to a File object has been deprecated and is scheduled to be removed in Gradle 5.

[2018-04-02 08:56] javier-godoy opened #74 "Unary call blocks indefinitely if the server completes empty"
Create a unary RPC. On the server, have it immediately call `responseObserver.onCompleted()` with no previous `onNext()`. With an io.grpc client call, this RPC [throws an INTERNAL error](https://github.com/grpc/grpc-java/blob/c9b02db276403db4794c6e5ffc78b46889cd4ce8/stub/src/main/java/io/grpc/stub/ClientCalls.java#L450) (see https://github.com/grpc/grpc-java/issues/2785) because one-to-one calls m

[2018-04-02 16:44] rmichela commented on #74
That's an interesting failure condition. I'll look into it.

[2018-04-02 16:47] rmichela commented on #73
This error has been fixed in the protobuf-gradle-plugin and will be included in the next release. https://github.com/google/protobuf-gradle-plugin/issues/178

[2018-04-02 16:47] #73 closed

[2018-04-22 06:42] rmichela commented on #74
@javier-godoy I've added additional unit tests in #76. I believe they cover your case, and they pass, so this problem should be fixed. Please re-open this issue with further details if I misunderstood your conditions.

[2018-04-22 06:42] #74 closed

[2018-04-22 07:46] #68 closed

[2018-04-22 07:52] rmichela commented on #61
@tukez I've added upstream cancellation in addition to downstream error propagation. This should fix your reported issue. If you are still having a problem, please re-open the issue.

[2018-04-22 07:52] #61 closed

[2018-04-26 12:08] bsideup opened #78 "Non-Mono overload for a non-streamable argument"
Hi!

Currently, the code generator creates the following signature:
[code]

And when someone calls it, they have no options but:
[code]

Would be nice to generate an overloaded method:
[code]

I know that Mono is evaluated lazily (as any other reactive type) but sometimes it's not necessary

[2018-04-30 15:56] rmichela commented on #78
I'm sort of on the fence with this one.

I can appreciate the elegance of method signatures that align with the types you have, but I'm not convinced that generating (and maintaining) a second Mono/Single client stub method to save from typing `Mono.just(` is justified.

Perhaps I'm being overly conservative. Please feel free to challenge me. 😉

[2018-05-10 09:32] OlegZhilo opened #79 "Request timeout"
How to set timeout for requests?
Grpc has method for that - withDeadlineAfter(). but I can't apply it with your library.

[2018-05-10 12:16] dadadom commented on #79
Have you tried with the latest version, 0.8.1? In it, all stubs extend `AbstractStub` which gives them e.g. the `withDeadlineAfter()` method: https://github.com/salesforce/reactive-grpc/releases/tag/v0.8.1
An example of the usage can be found here: https://github.com/salesforce/reactive-grpc/blob/1230b6a0c834102cce5de466d26974fd5eba8b2a/reactor/reactor-grpc-test/src/test/java/com/salesforce/reacto

[2018-05-10 12:27] OlegZhilo commented on #79
@dadadom Oh! Nice, Time to use 0.8.1 version. Thanks so much. I will try it.

[2018-05-10 12:45] #79 closed

[2018-05-10 12:45] OlegZhilo commented on #79
use 0.8.1

[2018-05-22 11:49] bsideup commented on #78
@rmichela maintainance is of course a good argument, but for this one IMO it's rather minor :)

`reactive-grpc` is a great library to generate reactive-ready clients from protobuf definitions.
In fact, in [one of our projects](https://github.com/bsideup/liiklus) we suggest to use it "as is" without providing any additional client libraries around it.

But when you look at it, it looks strange that

[2018-05-22 12:04] bsideup commented on #78
After some thoughts I even think that the generated implementation should look like that:
[code]

This way there is no `Mono -> un-Mono` chain and it supports both scenarios :)

[2018-05-22 12:14] ktoso commented on #78
I believe I agree with @rmichela.
In fact, in akka/akka-grpc this is what we choose to do as well;
Unary calls are represented by Futures or CompletionStage (well, or just parameter to the to-be-implemented-function); and streaming calls are represented by our Reactive Streams counter-parts which are Source in this specific example.

https://github.com/akka/akka-grpc/blob/master/plugin-tester-scal

[2018-05-22 12:21] bsideup commented on #78
@ktoso but the argument is not Future, right? While `reactive-grpc` always demands the arguments to be Mono (Future-ish)

[2018-05-22 12:42] cbornet commented on #78
I had a look at other rx-streams libs (eg. spring-data) and they indeed expose both a reactive and non-reactive argument API. Moreover, the reactive argument method takes a Publisher which I believe is better as it’s more generic. So we should do the same. WDYT @rmichela ?

[2018-05-22 15:07] rmichela commented on #78
Ok. If this change aligns with other reactive libraries, it makes sense.

[2018-05-22 15:08] rmichela opened #82 "gRPC 1.12 fails unit tests"
🙁

[2018-05-30 00:55] rmichela commented on #82
https://github.com/grpc/grpc-java/commit/26719bdc5cce359da7ac8317d639847015825e6f caused the gRPC server to change how it responds when a unary call completes without a response.

[2018-05-30 01:04] #82 closed

[2018-05-30 01:48] rmichela commented on #78
I've taken a first stab at implementing simple unary request parameters. Please take a look @ktoso @bsideup .

[2018-05-30 06:00] bsideup commented on #78
@rmichela looks good as a first step, removes a bunch of pain already 👍

[2018-05-30 18:03] rmichela commented on #78
Is there a second step 😉

[2018-06-01 22:04] rmichela commented on #72
@tukez @cbornet I think I've either fixed or explained everything going on in this issue. Please feel free to continue the discussion if you think there is more that needs doing.

[2018-06-01 22:04] #72 closed

[2018-06-01 22:19] #78 closed

[2018-06-02 17:03] rmichela commented on #78
Interesting idea...care to submit a PR? 😁

[2018-06-05 17:07] rubasace opened #90 "Customize delegateStub"
Current implementation just creates a new stub from provided channel , blocking any non hacky option to customize the original stub (enable compression ie).

It would be nice to provide a more complex constructor, a builder, or any other option to allow some full control over the delegateStub.

[2018-06-07 15:52] OlegZhilo opened #91 "Receive UNKNOWN: Exception was thrown by handler"
### Version lib
Version: 0.8.2

I'm using BI stream on Android.
Channel:
OkHttpChannelBuilder.forAddress(host, port)
                .intercept(metadataClientInterceptor, grpcLoggingInterceptor)
                .build()
But after get first bunch of values, I get UNKNOWN: Exception was thrown by handler

My ios colleagues have same problem. But they have solved it by using:
https://github.com/grpc/

[2018-06-07 16:40] OlegZhilo commented on #91
https://github.com/grpc/grpc-java/blob/master/examples/src/main/java/io/grpc/examples/manualflowcontrol/ManualFlowControlClient.java

How to use flow-controll with your library?

[2018-06-07 16:58] rmichela commented on #91
Judging by your stack trace and [error message](https://github.com/grpc/grpc/blob/master/src/csharp/Grpc.Core/Internal/ServerCallHandler.cs#L340), I suspect your server is experiencing an unhandled exception.

You don't directly manage flow control with Reactive gRPC. The library manages the flow control for you.

[2018-06-07 17:04] OlegZhilo commented on #91
@rmichela I found this message in grpc repo
https://github.com/grpc/grpc/blob/b74e050112fbdcb2cfdf475a167aa326e9bf26b9/src/csharp/Grpc.Core/Internal/ServerCallHandler.cs
line 340

Could it to explain why error is  happens?

[2018-06-08 14:22] revers-back commented on #91
@rmichela we have investigated that without using genereted by rxgrpc stub the stream works fine. Here is code using only grpc generated code, stream works fine
[code]
Thid code is using rx generated stubs, with this the error described above occurs
[code]
the proto for the method looks like this
`rpc OpenCandlesStream (stream CandleRequest) returns (stream CandleEvent) {}
`
It's seems that one of

[2018-06-08 16:46] rmichela commented on #91
I would start by debugging your server. Why is it throwing an error when the request is made using the RxJava bindings? How do the two different implementations differ over the wire, and how are they processed by gRPC on the server?

I believe you are using C# on the server. I haven't tested interoperability with the C# server implementation. Perhaps I'm subtly doing something wrong in RxGrpc that

[2018-06-08 17:09] revers-back commented on #91
Well, the server is c# written, but we don't have access to it, only endpoint. We have asked server side, but thet did't find any errors in logs. We will try to find some solution, thanks for reply.

[2018-06-08 17:34] rmichela commented on #91
Hmm... The error message in the initial report points to an exception on the server, but the server swallows it. You should see something like "Exception occurred in the handler or an interceptor." in the server logs.

https://github.com/grpc/grpc/blob/master/src/csharp/Grpc.Core/Internal/ServerCallHandler.cs#L263-L267

[2018-06-11 17:05] rmichela opened #92 "Java ➜ GoLang Interop Testing"
Write a gRPC server in GoLang and use Reactive gRPC to call it. Make sure the following work correctly.

* One-to-one
* One-to-many
* Many-to-one
* Many-to-many

[2018-06-11 17:07] rmichela opened #93 "Java ➜ C# Interop Testing"
Write a gRPC server in C# and use Reactive gRPC to call it. Make sure the following work correctly.

* One-to-one
* One-to-many
* Many-to-one
* Many-to-many

[2018-06-21 16:08] unoexperto opened #94 "Can I use this with SBT ?"
Hey guys,

Is it possible to use `RxGrpcGenerator` with SBT ?

[2018-06-21 16:22] rmichela commented on #94
I believe you can, but I am by no means an SBT expert. 😁

It looks [sbt-protoc](https://github.com/thesamet/sbt-protoc) supports [custom java code generators](https://github.com/thesamet/sbt-protoc/tree/master/examples/custom-gen). Since reactive-grpc is a custom java code generator, it _should_ work.

[2018-06-22 18:23] rmichela commented on #94
@unoexperto Does sbt-protoc solve your problem?

[2018-06-22 18:23] rmichela commented on #91
@OlegZhilo @revers-back Any progress on this issue?

[2018-06-23 13:01] unoexperto commented on #94
@rmichela

Looks like I'm missing something and I couldn't figure out what in 2 hours. Could you please take a look ?

https://github.com/unoexperto/test-rxgrpcgenerator

Generated by your plugin `RxGreeterGrpc.java` is referencing `com.example.protos.GreeterGrpc` class which is not available. I wonder if I need to call other generator before `RxGrpcGenerator`.

What do you think ?

[2018-06-23 14:59] unoexperto commented on #94
After wasting 4 hours I came to conclusion that it all boils down to making `protoc` use `protoc-gen-grpc-java` plugin which I have no idea how to do in this context. If you can make it work I'll deeply appreciate it.

[2018-06-25 07:07] OlegZhilo commented on #91
@rmichela Unfortunetly no... We are still trying find out it.

[2018-06-26 08:18] geniusayush opened #97 "Ready for production?"
Hi, we are considering to use this library in our grpc application. Wanted to know about the current staus and if this is ready to be used in production?

[2018-06-26 22:46] rmichela commented on #97
Great question. I encourage you to try it out. We haven't heavily adopted this library yet at Salesforce, but based on the few github issues I've seen, others are using reactive-grpc in production.

I say, do a spike and report your findings. Anything you find, even negative, will be great for moving the project forward.

[2018-06-29 16:31] rmichela commented on #91
I'm going to close this issue. Please re-open if you find out what caused your problem.

[2018-06-29 16:31] #91 closed

[2018-06-29 16:32] rmichela commented on #94
I have no meaningful experience with SBT and Scala. Please re-open if there is anything reactive-grpc can improve to make working with SBT easier.

[2018-06-29 16:32] #94 closed

[2018-06-29 16:53] cbornet commented on #94
@unoexperto if you manage to make it work, don't hesitate to do a PR to enhance the doc as it might interest others.

[2018-07-04 07:35] AntKos opened #99 "Codegeneration is incorrect for nested message types"
The following .proto file doesnt generate compiling code (see screenshot below)

[code]
![screenshot from 2018-07-04 05-24-43](https://user-images.githubusercontent.com/2248241/42262700-d6219bb8-7f4a-11e8-9aaf-f20907674b5c.png)

To make generation work again, it's necessary to move `TestRequest` and `TestResponse` out of `InnerMessage`

Here is my module `build.gradle`:

[code]

Sample project, wh

[2018-07-04 22:10] rmichela commented on #99
Great find! My guess is this is a type resolution problem in the underlying JProtoc library. I'll look into it.

[2018-07-04 22:10] #97 closed

[2018-07-12 16:48] rmichela commented on #65
Fixed by #106

[2018-07-12 16:48] #65 closed

[2018-07-12 16:51] rmichela opened #107 "Reactor ChainedCallIntegrationTest is flaky."
The test only seems to fail in TravisCI, and re-running the build always seems to work. There might be something subtle going on. 🤔

[2018-07-13 08:03] bsideup commented on #97
We use this library to implement a back-pressure aware [Kafka gRPC Gateway](http://github.com/bsideup/liiklus) (and connect to) in our 30+ micro-services in production.

There were some issues at the beginning but now (especially with the latest 0.9.0 release) it works really well 👍

Our use case is relying on the back-pressure a lot, and I can say that we haven't observed any major issues with it

[2018-07-22 06:27] rmichela opened #114 "Java 9 implementation"
Write a Reactive-gRPC generator that directly targets Java 9's Flow API. If that doesn't make sense, document why in this issue.

https://stackoverflow.com/questions/47354837/difference-between-rxjava-api-and-the-java-9-flow-api

[2018-07-22 06:41] rmichela opened #115 "Create a Reactive-gRPC Spring starter"

[2018-07-27 10:20] gabor-aranyossy opened #116 "memory synchronisation problem"
I noticed that there is no memory synchronisation done when calling `onNext` on `CallStreamObserver` [here](https://github.com/salesforce/reactive-grpc/blob/master/common/reactive-grpc-common/src/main/java/com/salesforce/reactivegrpc/common/ReactivePublisherBackpressureOnReadyHandlerBase.java#L111). According to the gRPC [docs](https://github.com/grpc/grpc-java/blob/master/stub/src/main/java/io/gr

[2018-07-27 14:48] rmichela commented on #116
Thanks for the question. I'll double check.

[2018-07-30 11:12] bkolb opened #117 "Generated code is not compilable in demos/gradle"
I checked out the `demos/gradle` project and tried to build it
I run `./gradlew generateTestProto`which leads to compile problems:

[code]

I changed the versions to the following, which seemed to work.

[code]

[2018-07-30 15:10] #117 closed

[2018-09-24 22:14] rickeyski commented on #92
Hey,

Do you have a specific service(proto) file that you would like implemented for this and #93? Otherwise, I can throw one together.

How would you like this integrated into the projects file structure? My thought is adding a top level integration folder, then have go, csharp, proto, and java subfolders with the respective servers and client.
[code]

They would all be managed by a bazel, based

[2018-09-24 22:41] cbornet commented on #92
I guess the original [gRPC interop test suite](https://github.com/grpc/grpc/blob/master/doc/interop-test-descriptions.md) could be used

[2018-09-24 23:05] rmichela commented on #92
Maven's `maven-compiler-plugin` in theory supports [executing other compilers](http://maven.apache.org/plugins/maven-compiler-plugin/non-javac-compilers.html), but I have no idea how well implemented this is.

[`mvn-golang`](https://github.com/raydac/mvn-golang) and [`dotnet-maven-plugin`](https://github.com/kaspersorensen/dotnet-maven-plugin) also look promising.

gRPC Java uses bazel and gradle

[2018-09-24 23:11] rickeyski commented on #92
I try out the maven plugins. Not sure it's worth introducing an entirely new build system for integration tests.

[2018-09-24 23:32] rmichela commented on #92
Thank you so much for taking integration testing on!

[2018-09-25 18:19] rmichela commented on #92
If you need to, you can put the maven parts in a profile that is disabled by default. That way interop tests won't run during CI builds. Getting a .NET Core and Golang environment working in CI could prove challenging and doesn't need to hold up the initial work.

[2018-10-06 14:35] sness opened #119 "mvn clean install gives error"
I cloned the repo and ran `mvn clean install` on a MacBook Pro Java 1.8 and got the following test failure.  `mvn clean install -Dmaven.test.skip=true` finishes correctly.

[code]

[2018-10-06 19:29] cederigo opened #120 "backpressure-demo "queue full?!" exception with concatMap"
Instead of using
[code]
to simulate a slow consumer, I tried
[code]
to reproduce the "queue full?!" error [1] we encountered in our project. I can get around the issue using `rebatchRequests(1024)` before `concatMap` but I dont understand exactly why `concatMap` does not work without it.

I'm aware that this issue is maybe not directly related to this project but I would be very grateful for any a

[2018-10-08 20:08] rmichela commented on #119
Thanks for reporting. This is a duplicate of #107. You can manually disable the test for now.

[2018-10-08 20:08] #119 closed

[2018-10-08 20:56] rmichela commented on #120
Thanks for the report. Here is what I _think_ is happening (reasoning about async RxJava can be tricky).

`.zipWith(Flowable.interval(3, TimeUnit.MILLISECONDS), (item, interval) -> item)` combines the fast stream from `sendNumbers` with a stream that emits a new item every three milliseconds. The zip operator will only emit a tuple event when both zipped flowables have an event ready, and will app

[2018-10-08 21:40] cbornet commented on #120
Does it mean that concatMap doesn't respect backpressure / consumer pull-mode ?

[2018-10-08 21:56] rmichela commented on #120
[`concatMap()`](http://reactivex.io/RxJava/2.x/javadoc/io/reactivex/Flowable.html#concatMap-io.reactivex.functions.Function-) - The operator honors backpressure from downstream. Both this and the inner Publishers are expected to honor backpressure as well. If the source Publisher violates the rule, the operator will signal a MissingBackpressureException. If any of the inner Publishers doesn't hono

[2018-10-08 23:04] rmichela commented on #120
@cbornet Tell me about it 😕

@cederigo Are you able to reproduce this problem in isolation?

[2018-10-09 06:50] Lemutar commented on #120
If you replace the
`.zipWith(Flowable.interval(3, TimeUnit.MILLISECONDS), (item, interval) -> item)`
with
`.concatMap(item -> Flowable.just(item).delay(3, TimeUnit.MILLISECONDS))`
in [BackpressureController](https://github.com/salesforce/reactive-grpc/blob/master/demos/backpressure-demo/src/main/java/demo/backpressure/BackpressureController.java#L57) you will be able to reproduce the problem.

Aft

[2018-10-09 08:12] cederigo commented on #120
Thank you all for your answers. Really appreciate it!

@Lemutar nice find! Thats exactly how I reproduced it in isolation and a colleague of mine also had the suspicion that the concatMap operator gets more elements than it requested. If we could solve this issue as @Lemutar suggested that would be amazing. Otherwise, there should be a section in the Readme because it is really not obvious that on

[2018-10-09 09:08] gabor-aranyossy commented on #116
Thanks for addressing the issue!

[2018-10-16 22:18] #120 closed

[2018-10-23 08:22] bsideup opened #123 "NPE at ReactiveStreamObserverPublisherSubscriptionBase.request"
Hi! It looks like there is a race condition under a heavy load, we just got this NPE:

[code]

reactive-grpc version 0.9.0

[2018-10-23 09:15] ehiggs opened #124 "Generator does not convert filenames into java names consistently with the vanilla grpc generator"
Generator does not convert filenames into java names consistently with the vanilla grpc generator.

e.g. `weyland-yutani.proto` in vanilla grpc will create `WeylandYutani.java` but reactive-grpc will generate accesses to `Weyland-yutani` which obviously won't compile.

[2018-10-23 17:03] rmichela commented on #124
Great catch.

[2018-10-23 17:04] rmichela commented on #123
Will investigate.

[2018-10-23 19:08] rmichela commented on #124
Can you provide more details about the content of your proto? I cannot reproduce the problem using only a file called `weyland-yutani.proto`.

[code]

[2018-10-23 19:11] rmichela commented on #124
Is the proto package also `weyland-yutani`?

[2018-10-23 19:13] rmichela commented on #124
OK. The proto also needs a message type.

[code]

[2018-10-23 22:05] #124 closed

[2018-10-23 23:36] #123 closed

[2018-10-25 06:30] mjduijn opened #128 "ReactorStub hangs on streaming calls when used with an in-process-channel"
On a streaming return, the ReactorStub seems to get stuck when using an in-process-channel in test code.

I used the following code to setup the server, channel and stub

    @Rule
    public final GrpcCleanupRule grpcCleanup = new GrpcCleanupRule();

    grpcCleanup.register(InProcessServerBuilder
        .forName(serverName)
        .directExecutor()
        .addService(serverServiceDefinition)

[2018-10-25 06:44] rmichela commented on #128
What kind of operation are you testing? one to one, many to one?

[2018-10-25 06:47] mjduijn commented on #128
One to many

[2018-10-25 07:01] rmichela commented on #128
Short-term: try removing `directExecutor()`.
Long-term: looking into it.

[2018-10-25 07:04] mjduijn commented on #128
Thanks!

[2018-10-26 16:05] dadadom commented on #56
In case someone else is looking at this: The page has moved and is now available at
https://github.com/reactor/reactor-core/blob/master/docs/asciidoc/advancedFeatures.adoc#context

[2018-11-15 13:59] rickeyski opened #130 "Backpressure not being respected"
I had thought this looks like #72, but this is client side, not server side. The full stack trace is below. Let me know what other information I can provide. The app currently has 24 kafka consumer thread setup using the same client.

Am I missing a parameter to expand the queue size on the client? Should I use a client per thread?

Thanks in advance.

[code]

[2018-12-14 08:09] ehiggs opened #131 "(rxgrpc) Splitting a stream into first and rest cancels the whole stream when first is consumed"
If you try to split a stream in rx grpc into first (e.g. `firstOrError`) and rest (e.g. `skip(1)`, then consuming the `first` stream cancels the rest of the stream which results in the whole result being cancelled. This appears to be hidden at first because testing using `Flowable<?>.just(...)` still pump data through quickly, [but there is a timeout on the cancellation after 100ms](https://github

[2018-12-28 12:02] chijoungso opened #132 "Manifest file missing osgi headers"
The projects reactive-grpc-common, reactor-grpc-stub and rxgrpc-stub are missing osgi headers in the manifest file.

The default way is to use the maven-bundle-plugin to generate entries like Export-Package, Bundle-Version, Bundle-SymbolicName.

[2019-01-09 12:46] TaxistSamael opened #134 "Compose operator usage for RxJava2 implementation"
Hi,

First of all, my team and I are really appreceate for the tool you made.

In RxJava part of reactive-grpc documentation I saw following:

Could you please explain, what do you mean by 'stub methods do not clearly chain' ?

[2019-01-09 19:25] rmichela commented on #131
Will take a look soon. Life is a bit intense right now. 😕

[2019-01-09 19:33] rmichela commented on #134
Idiomatic Rx chains pipelines like `source.transformation().transformation().transformation().subscribe()`, but you cannot add new transformations directly to the `Flowable` base class.

The `compose()` and `as()` transformations of `Flowable` allow you to use arbitrary functions as `Flowable` transformations by passing them in as a parameter. The `compose()` and `as()` transformations dovetail ni

[2019-01-10 08:28] rafaeling opened #135 "Demo Application is failing"
Hi,

I get this error, thus the generator doesnt generates any files.
[code]
The only way to make it compile is by commenting out this line
https://github.com/salesforce/reactive-grpc/blob/4c273779c036ff19bb0220e05a4bdce64686aa12/demos/reactive-grpc-chat/rxjava-chat-android/app/build.gradle#L35

Any clue?
Thanks :)

[2019-01-10 18:07] rmichela commented on #135
At this time, RxGrpc with Gradle only supports bash-based environments. Windows users will need to build using Windows Subsystem for Linux (win 10), Gitbash, or Cygwin.

The underlying issue is with how protobuf-gradle-plugin handles java-based protobuf plugins.

[2019-01-10 18:23] cbornet commented on #135
Workaround : create a task that will use the maven wrapper to generate the code. Example : https://github.com/cbornet/generator-jhipster-grpc/blob/master/generators/app/templates/_grpc.gradle

[2019-01-17 18:37] #132 closed

[2019-01-30 18:00] simonbasle opened #136 "Request by one and compatibility with Reactor's switchOnFirst"
Reactor 3.2.5 has a new operator called `switchOnFirst`. It allows "routing", or modification of the outer sequence, depending on the first value emitted by the source.

It starts by a `request(1)` to the source then unbounded request.

While trying to use that with reactive-grpc on the server side, receiving an initial "configuration frame" from the client, I was not able to make it work. **The s

[2019-01-30 18:01] simonbasle commented on #136
(cc @ericbottard, @olegdokuka)

[2019-02-14 01:08] #135 closed

[2019-02-14 01:12] rmichela commented on #107
Fixed by #137

[2019-02-14 01:12] #107 closed

[2019-02-14 02:05] #134 closed

[2019-02-14 02:09] rmichela commented on #130
Fixed by the complete rewrite in #137. We should create a new bug if this happens again.

[2019-02-14 02:09] #130 closed

[2019-02-14 07:48] #128 closed

[2019-02-14 08:02] rmichela opened #139 "Flapping Reactor tests"
I'm seeing the following two tests fail intermittently in CI (about half the time) after the new Rx implementation.
[code]
[code]

Gist with full Travis output: https://gist.github.com/rmichela/401512ff84f871ec39b5ede316b5a6fc

[2019-02-14 08:03] rmichela commented on #139
@OlegDokuka Can you take a look at these flapping tests, please?

[2019-02-14 17:07] #136 closed

[2019-02-18 22:38] OlegDokuka commented on #131
@ehiggs you can do that with the [`.switchOnFirst`](https://github.com/salesforce/reactive-grpc/pull/138/files#diff-6c5dd7889116a9cd8995bba777a61f74R26) operator which allows you to handle the first signal and transform the whole stream then. See #136.

[2019-02-19 03:37] rmichela commented on #131
Digging in. RxGrpc looks like it is working correctly. The `Single` you are returning from your service method passes through `firstOrError()`. This method returns a `Single` that [explicitly cancels](https://github.com/ReactiveX/RxJava/blob/579e90dc21937b900877a8baf3918cdca22d3a91/src/main/java/io/reactivex/internal/operators/flowable/FlowableElementAtSingle.java#L83-L88) the upstream pipeline as

[2019-02-19 06:41] gengle opened #143 "Any interest in C# versions?"
I'd be interested in kicking this off -- if it's not a fit here, I could fork and credit.  I'd like to make sure wire formats remain compatible though.

[2019-02-19 06:52] rmichela commented on #143
The wire format is just gRPC, so everything should work fine. Reactive-gRPC just converts between the RxJava and gRPC messaging patterns in memory. Marrying up gRPC-C# with .Net Reactive Extensions would be an amazing contribution.

I'm happy to discuss further implementation details.

[2019-02-19 23:03] rmichela commented on #131
You can use the [`publish(selector)`](http://reactivex.io/RxJava/2.x/javadoc/io/reactivex/Flowable.html#publish-io.reactivex.functions.Function-) operator to achieve what you want.

[2019-02-19 23:03] #131 closed

[2019-02-20 07:05] rmichela commented on #99
Fixed in https://github.com/salesforce/grpc-java-contrib/pull/92

[2019-02-21 06:27] #99 closed

[2019-02-25 18:50] rmichela commented on #139
[code]

[2019-03-04 00:01] #139 closed

[2019-03-04 00:01] rmichela commented on #10
Implemented by @OlegDokuka

[2019-03-04 00:01] #10 closed

[2019-03-06 13:31] fbiville opened #155 "Project does not build with JDK 11"
The `benchmarks` fails to compile with a JDK 11.

[code]

Compilation works fine with a JDK 8:

[code]

[2019-03-06 14:38] OlegDokuka commented on #155
Hi @fbiville. Did you try that against master brunch?

[2019-03-06 16:19] fbiville commented on #155
I tried that against `master`, indeed.

[2019-03-11 19:40] rmichela opened #159 "Rewrite backpressure integration tests for better determinism"
The backpressure integration tests are nondeterministic. They usually pass, but their passing depends on the specs of the machine running them.

Now that the core reactive pipeline has been rewritten, we should rewrite these tests to make them deterministic.

[2019-03-13 06:55] linux-china commented on #115
I created reactive-grpc-spring-boot-starter project, and the code is here https://github.com/linux-china/reactive-grpc-spring-boot-starter.  If possible, and I can contribute my code.

[2019-03-13 13:10] rmichela commented on #115
This is pretty cool! Thanks for making it. I think you should keep ownership of your starter so you can evolve it separately.

I can link to your starter from the Reactive-gRPC readme.

[2019-03-13 14:36] rmichela commented on #115
Can you submit a PR with a link to your project?

[2019-03-13 15:52] linux-china commented on #115
@rmichela  My pleasure, and I will submit a PR to add link to  https://github.com/linux-china/reactive-grpc-spring-boot-starter

[2019-03-13 19:32] cbornet commented on #115
What is the added value compared to https://github.com/LogNet/grpc-spring-boot-starter ? The lognet starter works just fine with reactive-grpc...

[2019-03-13 20:21] linux-china commented on #115
@rmichela   I agreed with @cbornet.   we just need a demo with grpc-spring-boot-starter.
[code]
We don't need a special spring boot starter for Reactive gRPC, and now  https://github.com/LogNet/grpc-spring-boot-starter is good.

[2019-03-13 22:04] rmichela commented on #115
Sounds good @linux-china. Do you want to write that demo?

[2019-03-13 22:13] linux-china commented on #115
@rmichela  yes, I created a new demo that use reactive gRPC backbone by https://github.com/LogNet/grpc-spring-boot-starter    and demo repository is here
 https://github.com/linux-china/reactive-grpc-demo

[2019-03-16 01:01] rmichela commented on #97
@bsideup We've just released 0.10.0-RC1 and would love your feedback.

[2019-03-16 06:17] rmichela commented on #8
I’m considering removing code coverage for the following reasons:

* Coverage isn’t a great quality metric for Reactive-gRPC. Most tests are integration tests that verify behavioral interactions between gRPC, Reactive-gRPC, and a reactive library.
* Maven multi module test coverage doesn’t really work when the tests are in a different module from the covered code.
* Test coverage appears to be non

[2019-03-16 06:19] rmichela commented on #8
@cbornet and @OlegDokuka, what do you think?

[2019-03-22 14:07] frankbenoit commented on #135
Using Win7.
I try to run the gradle build in git-bash with no success.

Next I tried to copy the snippet from @cbornet to the end of the build.gradle.
Now running from windows cmd
[code]

Still same error.
Any hint?

[2019-03-24 07:14] frankbenoit opened #162 "Backpressure Demo has sporadic exception"
Hi

Sometime starting the demo, i get this message:
[code]

in the demo, I modified the onError from System.err.println to Throwable::printStacktrace.
[code]

Adding the onBackpressureDrop() in this line seems to fix it. Is it correct?
[code]

Frank

[2019-03-25 04:03] rmichela commented on #162
@OlegDokuka Any ideas?

[2019-03-28 15:22] frankbenoit opened #163 "Release a ready to run rxgrpc generator"
At the moment there is a protococ-gen-rxgrpc.exe, that uses a .ini which contains local paths to maven cache jars.

[code]

Can it be packed into something that i can put into a repository and just execute without the need for a specific build tool?

As it is, i cannot put this into a repository with a batch file to execute. On a different PC without maven running before, or a different username,

[2019-03-28 16:52] rmichela commented on #163
Are you using some kind of java exe wrapper here?

[2019-03-28 18:33] frankbenoit commented on #163
After building the demo applications with maven, I found target/protoc-plugins/protoc-gen-rxgrpc.exe and tried to add it into my existing project.
This worked locally. But after test on another PC, it failed.

[2019-03-28 18:39] rmichela commented on #163
I see. That's an intermediate file generated by the `maven-protobuf-plugin` for executing the plugin on windows.

Protoc plugins aren't really made to be run as stand-alone executables.

[2019-03-28 21:04] mjduijn opened #164 "Bazel integration"
I was wondering if you would be interested in enabling [Bazel](https://bazel.build/) users to easily use the reactive-grpc plugin.

Adding the integration would mean creating a workspace, importing dependencies using Bazel and writing a rule for generating reactive-grpc code from protos.
As a result, Bazel users will be able to import the logic from this repository instead of having to manage thei

[2019-03-28 21:16] rmichela commented on #164
Sure. I'd love the PR. I don't have the expertise myself to write the Bazel integration from scratch, but I have used Bazel in other projects.

[2019-03-28 21:28] mjduijn commented on #164
Alright! I'll experiment a little and create a PR when I have something I'm satisfied with.

[2019-03-29 11:01] frankbenoit commented on #163
Yes, maven might use this technic.
When I am working with GRPC Java, I can build a command on my own and execute it independent from a specific build system, because the is a .exe available.

Can this be done for reactive-grpc as well?

[2019-04-01 19:33] derolf opened #165 "Explain how metadata can be accessed at the server side"
Using the reactor version with Kotlin, a simple example how to get access to the metadata (headers) is possible inside the service call.

[2019-04-01 19:51] derolf commented on #165
Is it correct just to use io.grpc.Context like in:

https://github.com/salesforce/reactive-grpc/blob/master/reactor/reactor-grpc-test/src/test/java/com/salesforce/reactorgrpc/ContextPropagationIntegrationTest.java

[2019-04-01 20:12] cbornet commented on #165
Yes that's the way to do it. In the server interceptor, get the value from Metadata then put it in Context.

[2019-04-03 02:48] rmichela commented on #155
Fixed in master.

[2019-04-03 02:48] #155 closed

[2019-04-03 02:50] rmichela commented on #165
@derolf Were we able to answer your question? If not, please re-open this issue. 😁

[2019-04-03 02:50] #165 closed

[2019-04-03 02:51] rmichela commented on #163
What you are asking for is not easy to support on Windows today. 😕

[2019-04-03 02:52] #115 closed

[2019-04-03 04:18] rmichela commented on #162
Demos are still using 0.9.0. I tested with 0.10.0-RC1 and couldn't reproduce. Will update demos POMs and keep trying to reproduce.

[2019-04-03 05:54] derolf commented on #165
As said, putting a paragraph in the docs would be nice...

[2019-04-03 22:57] cbornet commented on #165
Oh, and you need to put the gRPC context in the Reactive sequence context !
As said by @rmichela this is the same as #54

[2019-04-17 10:41] frankbenoit opened #168 "Guava 27 not allowed"
In the reactor-grpc-stub-0.10.0-RC1.jar/META-INF/MANIFEST.MF:

[code]

The com.google.common.base;version="[26.0,27)", with this the Guave 27 is excluded.
Can this be changed to [26,28) or is it that Guava 27 is really not compatible?

cu
Frank

[2019-04-17 10:51] frankbenoit commented on #168
Same for `reactive-grpc-common`

[2019-05-04 05:29] #163 closed

[2019-05-04 05:30] rmichela commented on #162
I believe this is fixed in 0.10.0

[2019-05-04 05:30] #162 closed

[2019-05-09 18:46] rmichela opened #170 "Add missing CallOptions constructors"

[2019-05-22 01:30] rmichela commented on #168
Reactive-grpc should work fine with future versions of Guava.

gRPC 1.19 links against Guava 26, but future versions should be backward compatible.

[2019-05-22 01:31] rmichela commented on #164
@mjduijn Any progress on bazel for reactive-grpc? 😄

[2019-05-23 01:20] mjduijn commented on #164
Yes! I have an unpolished version locally but I have delayed submitting a PR until a decision is made in grpc/grpc-java#5621. Since that seems stalled, I'll submit one next week (currently on vacation w/o computer)

The reason for choosing to delay is that the reactive rules depend on the gRPC java rules. Currently these don't support import paths that are not the path to the .proto file from the

[2019-05-23 02:58] rmichela commented on #164
No worries. No hurry. 😃

[2019-05-28 05:13] #170 closed

[2019-05-28 05:14] #168 closed

[2019-05-28 05:14] rmichela commented on #8
Code coverage temporarily disabled.

[2019-05-28 05:14] #8 closed

[2019-05-31 22:50] naveentammineni opened #176 "GRPC deadline context propagation"
Hi Guys,

We have a use case where we are trying to cancel the grpc server side operations when the deadline is past. Here is our code snippet for server side

*Server side snippet*

	public Flux<CoinInfo> findCoinDetailsForMultipleSymbols(List<String> coinSymbols) {

	    return Flux.fromIterable(coinSymbols)
	        .filter(x -> {
	          if(Context.current().isCancelled()) {
	            lo

[2019-06-05 07:10] pluttrell commented on #176
@OlegDokuka Wondering if you might have any ideas on this. Thanks!

[2019-06-05 14:35] rmichela commented on #176
I'll take a look as soon as I can. I'm in the middle of moving cross country.

[2019-06-05 14:37] rmichela commented on #176
@naveenreddykarri Spring reactor and gRPC context propagation are a little funny and not fully documented in Reactive-gRPC. Do the links in #56 help?

[2019-06-11 06:34] naveentammineni commented on #176
Thank you @rmichela. That helps!

[2019-06-11 06:34] #176 closed

[2019-06-11 12:55] rmichela commented on #176
Would you mind posting the code that you got working? I'd like to use it to help document #56.

[2019-06-11 22:16] naveentammineni commented on #176
I am passing the deadline to the subscriber context in my GrpcService like this:

`    multipleCoinsRequest
              .flatMapMany(
                  request -> coinsService.findCoinDetailsForMultipleSymbols(request.getNamesList()))
              .subscriberContext(ctx -> ctx.put("deadline", Context.current()))
              .doOnTerminate( () -> log.info("Took {} ms", (System.nanoTime() - sta

[2019-06-12 02:58] rmichela commented on #176
It's not a great user experience, but it works. 😕 Flux and contexts just don't play that well together. Thanks for following up. 🙏

[2019-06-24 15:19] #164 closed

[2019-06-28 22:24] naveentammineni opened #178 "Reactive ServerInterceptor?"
Are `ServerInterceptors` executed synchronously or Asynchronously. If Asynchronous, how would you construct it a reactive `ServerInterceptor`.

The reason this is important is we are implementing security in reactive spring context with bearer tokens and with the Reactive Spring Security has a `ReactiveAuthenticationManager` which naturally returns a Mono. Which means we would have to block in the

[2019-07-01 16:01] rmichela commented on #178
Server interceptors are executed synchronously in order by gRPC before your service code is called.

[2019-07-01 18:24] naveentammineni commented on #178
Thanks @rmichela for the confirmation.

[2019-07-03 12:50] grigorryev opened #179 "Status CANCELLED under load"
Hi,

I have a service that communicates with upstream via reactive-grpc. It performs both unary calls and subscriptions.

Under high load, after request/subscriptions rate exceeds some threshold, the service starts receiving `StatusRuntimeException`s with status `CANCELLED`.

I performed some Wireshark investigations and discovered that the amount of time taken by the service to respond to http2 P

[2019-07-04 15:00] rmichela commented on #179
Reactive-gRPC generated code calls down to the stock gRPC stub APIs like `StreamObserver`. Reactive-gRPC doesn't have anything to do with gRPC's HTTP/2 implementation directly.

Try replicating your conditions with a traditional gRPC client and server implementation. That should give some clarity to the source of your latency problem.

[2019-07-04 15:00] #178 closed

[2019-07-11 11:01] pluttrell opened #180 "Recommended Scheduler Implementations"
What's the recommended way to define different schedulers, if any, for the following use cases? In specific:
1. Which scheduler should we use?
2. Should we use `publishOn` or `subscribeOn`?
3. Where should we place either?

### Use Case 1: A Server that retrieves data from an Async DB (such as [Async DynamoDB](https://docs.aws.amazon.com/sdk-for-java/v2/developer-guide/basics-async.html), that use

[2019-07-11 13:01] cbornet commented on #180
Use Case 1 : The `grpc-default-executor` threads you see are the ones from the default [CachedThreadPool](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/Executors.html#newCachedThreadPool-java.util.concurrent.ThreadFactory-) used by gRPC. It's a thread-pool that will reuse threads and spawn new ones if more concurrency is needed. So it can be used with blocking code. If you're hand

[2019-07-11 13:26] cbornet commented on #180
Use case 2: again gRPC ManagedChannels are configured by default with a CachedThreadPool. If you only use reactive or async stubs (never blocking stub) then it should be safe to change it by a FixedThreadPool.
If you have 2 managed channels, each will use its own thread pool and WebFlux (I assume you use WebFlux, right ?) will use another one. I guess as a small optimization, the 2 channels could

[2019-07-11 13:44] cbornet commented on #180
And something to be aware about: https://grpc.github.io/grpc-java/javadoc/io/grpc/package-summary.html

[2019-08-05 13:00] #180 closed

[2019-08-05 13:00] #179 closed

[2019-08-12 14:53] krakowski opened #181 "[reactor-grpc] Returning empty Mono blocks indefinitely"
Description
--

Whenever an empty Mono is returned from an `unary → unary`/`stream → unary` call, the client blocks indefinitely. This seems to be happening because no [`completeConsumer`](https://github.com/reactor/reactor-core/blob/d0547643770260bb2bad8a58067c2f6199b38b0e/reactor-core/src/main/java/reactor/core/publisher/Mono.java#L3834) is provided within [`ServerCalls::oneToOne`](https://githu

[2019-08-12 15:10] rmichela commented on #181
Great catch!

There should be a guard around the server response Mono to ensure it returns one element, or an error. While it is legal in reactive streams to have a Mono of zero elements, gRPC unary operations must have exactly one response message or an error.

https://github.com/grpc/grpc-java/issues/2785#issuecomment-286504286

[2019-08-12 15:41] krakowski commented on #181
Hi Ryan,

thanks for the fast response! :blush:

You are right, the grpc project includes a guard for this case within [`ServerCallImpl`](https://github.com/grpc/grpc-java/blob/e5bd7f282c45a7e90fdb9a9b6939b6ada6f8e31a/core/src/main/java/io/grpc/internal/ServerCallImpl.java#L213-L216). Basically, it returns `Status.INTERNAL` if no message was sent.

[code]

I think adding `responseObserver::onCompl

[2019-08-12 16:30] rmichela commented on #181
Yes. I think moving the `responseObserver.onCompleted()` line to `rxResponse`'s `completeConsumer` will work.

The fix should also apply to RxJava.

[2019-08-12 16:32] rmichela commented on #181
Yes. I think moving the `responseObserver.onCompleted()` line to `rxResponse`'s `completeConsumer` will work.

The fix should also apply to RxJava.

[2019-08-13 07:25] anandps opened #182 "Need help in using reactor-grpc with gradle in windows"
reactor-grpc with gradle not working in windows when executed using Gitbash. protoc errors out with "%1 is not a valid Win32 application.".
build.gradle
[code]
Error
[code]

[2019-08-13 10:00] krakowski commented on #181
I added the `completeConsumer` at both locations and extended your integration test to cover this special case. I tried to reproduce this bug using RxJava, but there doesn't seem to be a concept of empty [`Single`](http://reactivex.io/RxJava/javadoc/io/reactivex/Single.html)s. They can only complete with a value or an error.

[2019-08-13 12:49] rmichela commented on #182
Unfortunately, "at this time, Reactor-gRPC with Gradle only supports bash-based environments. Windows users will need to build using Windows Subsystem for Linux (win 10), Gitbash, or Cygwin." https://github.com/salesforce/reactive-grpc/tree/master/reactor#gradle

This limitation is due to how `protobuf-gradle-plugin` handles (or doesn't handle) java plugins. https://github.com/google/protobuf-grad

[2019-08-13 13:38] anandps commented on #182
Thanks for your response!
Yes, i am using the Gitbash. Perhaps it works only for the linux subsystem?(Doc mentioned Gitbash & cygwin)

[2019-08-13 14:08] rmichela commented on #182
Hmm... Try WSL. I don't have a Windows machine to test.

[2019-08-13 14:16] rmichela commented on #181
That makes sense.

[2019-08-13 14:54] cbornet commented on #182
As a workaround you can call the maven plugin from a Gradle task.

[2019-08-15 13:55] #181 closed

[2019-08-16 15:56] rmichela commented on #92
I reused the gRPC interop demo I did for a conference talk. Added stream testing and unary testing.

[2019-08-16 15:56] #92 closed

[2019-08-16 15:56] rmichela commented on #93
I reused the gRPC interop demo I did for a conference talk. Added stream testing and unary testing.

[2019-08-16 15:56] #93 closed

[2019-08-17 00:10] #56 closed

[2019-08-17 00:19] rmichela opened #186 "Fix Gradle packaging for Windows"
The packaging for Gradle on Windows isn't great. The current packaging prefixes the jar with a bash script that invokes java. This works great on POSIX systems, where the executable loader understands `#!` statements, but fails catastrophically on Windows with an error message `%1 is not a valid Win32 application.`, as seen in #128.

The fix for this is to replace the bash script jar prefix with a

[2019-08-17 00:20] rmichela commented on #182
Were you able to get the gradle->maven or WSL workaround working, @anandps?

[2019-08-17 00:25] rmichela opened #187 "Release 1.0.0"
The time has come. Reactive-gRPC has been baking for almost two years and bug reports only trickle in. I've heard positive reports of others using the project. Interop testing between Java, Go, and C-Core has not shown any obvious issues.

It's time to stamp a 1.0.0 release! 🎉

[2019-08-17 00:26] rmichela commented on #187
I want to thank @cbornet and @OlegDokuka for all their help along the way with Reactive-gRPC.

[2019-08-17 00:53] rmichela commented on #114
Nobody has ever asked for this, and we are now on the eve of Java 13. [RxJava](https://github.com/akarnokd/RxJavaJdk9Interop) and [Reactor](https://github.com/reactor/reactor-core/blob/master/reactor-core/src/main/java/reactor/adapter/JdkFlowAdapter.java) both have `java.util.concurrent.Flow` adaptors. If those work for you, use them.

Comment on this issue if you _really_ want a Java 9 Flow imple

[2019-08-17 00:53] #114 closed

[2019-08-19 14:38] anandps commented on #182
yes, tried both. WSL works fine and for gradle->maven workaround, followed this [https://github.com/cbornet/generator-jhipster-grpc/blob/v0.14.1/generators/app/templates/_grpc.gradle](url).
I see that the doc is already updated with "_Windows users will need to build using Windows Subsystem for Linux (win 10) or invoke the Maven protobuf plugin with Gradle._" :)

[2019-08-19 14:54] rmichela commented on #182
I'm working on a more complete solution: https://github.com/salesforce/grpc-java-contrib/pull/115

Canteen will let me package jars as self executing executables for each platform. Reactive-gRPC 1.0.0 will have native support for Windows+Gradle.

[2019-08-19 14:58] rmichela commented on #186
jProtoc workin in https://github.com/salesforce/grpc-java-contrib/pull/115

[2019-08-22 19:26] #186 closed

[2019-08-22 19:30] rmichela commented on #186
Reactive-gRPC gradle binaries are now packaged as platform native executables.

For new usage, see: https://github.com/salesforce/reactive-grpc/pull/188/files#diff-2fc4e0ff11f90973db6827c19cd6cd13R50-R54

[2019-08-22 20:16] #187 closed

[2019-08-22 20:16] #182 closed

[2019-08-22 21:28] rmichela commented on #182
1.0.0 is now out. To use it, remove the `jdk8@jar` from the gradle reference.

[2019-08-30 10:22] neilswingler opened #191 "reactor-grpc-1.0.0.jar contains guava classes"
The 1.0.0 release of reactive-grpc clashes with guava 28 because the maven published reactor-grpc jar file actually contains the guava classes. Compare the size of 0.10.0 (4K) Vs 1.0.0 (6.7M)

[2019-08-30 13:31] rmichela commented on #191
Help me understand how shading Guava into the `reactor-grpc` code generator is causing you a problem.

The `reactor-grpc` jar is invoked by the protoc compiler as a separate `java -jar` process and runs in its own short-lived JVM. How is its contents clashing with your classpath? Are you embedding the `reactor-grpc` binary into your project as direct dependency? If so, why?

To test, I tried addin

[2019-08-31 06:21] neilswingler commented on #191
Aha I see. I must be adding it to the classpath. I will fix it on Monday. I guess I did not read the docs closely enough and only hit an issue upgrading to 1.0.0. The name of the reactor-grpc module does not suggest it's just a compiler plugin. Thanks for the fast response.

[2019-08-31 06:21] #191 closed

[2019-08-31 22:05] rmichela commented on #191
Here's the docs for reference. https://github.com/salesforce/reactive-grpc/tree/master/reactor#installation

Do they need improvement? If they aren't clear I'd love to know. 😁

[2019-09-09 17:22] neilswingler commented on #191
Confirmed that it was solved by removing the protoc plugin from the module dependencies. Maybe maven snippets of the protoc and runtime dependencies would help but I feel like itś more down to me not reading the documentation properly :)

[2019-09-11 13:05] molokoka opened #192 "Support of gRPC version 1.23.0"
Sorry guys, are there any plans to support fresh version of gRPC and protobufs?

We are trying to use opencensus to collect metrics server and we have some problems with reactive-grpc using 1.19.0.

Thank you for help!

[2019-09-11 14:00] rmichela commented on #192
The gRPC stub APIs are supposed to be backwards compatible. What specific problem are you having?

[2019-09-11 21:19] molokoka commented on #192
You were right, it is something wrong with my config. I've found working example of project here: https://github.com/census-instrumentation/opencensus-java/tree/master/examples

[2019-09-11 21:19] #192 closed

[2019-10-01 14:04] ericbottard opened #194 "[reactor-grpc] Cancel signal should be ignored once Complete has been seen"
Per the reactive-streams spec items [1.6](https://github.com/reactive-streams/reactive-streams-jvm/blob/v1.0.3/README.md#1.6) and [3.7](https://github.com/reactive-streams/reactive-streams-jvm/blob/v1.0.3/README.md#3.7) combined, once a stream is complete, any cancel signal should be ignored.

This is not the case with reactor-grpc, which can have drastic effects as we saw in the following setup:

[2019-10-01 14:13] bsideup commented on #194
cc @OlegDokuka

[2019-10-01 14:22] rmichela commented on #194
Thanks for the report @ericbottard. Would it be possible to provide a test case?

[2019-10-01 14:35] ericbottard commented on #194
Sadly I don't think I have a simple to reproduce test-case for you. You can have a look at the implementation in the linked PR above, but you may not be able to make much sense of it.

To reproduce simply, you'd need to rpc invoke a
[code]
function where:
- the function continues to emit on its `Flux<O>` output after the `input` completes (or cancels, for that matter). It could for example disrega

[2019-10-01 15:17] rmichela commented on #194
That can happen. While gRPC functions like a reactive stream most of the time, it does not comply with many of the rules of the reactive-streams spec, especially around stream cancellation.

[2019-10-02 17:20] rmichela commented on #194
@ericbottard Were you able to find a work around, or is this issue a blocker for you?

[2019-10-03 07:41] ericbottard commented on #194
@rmichela We've got a workaround for now, namely bridging the reactive-grpc Flux with one that won't forward `cancel`s after `complete`.

[2019-10-11 15:33] krakowski opened #195 "[reactor-grpc] Reactor context does not propagate if stub is used"
Description
--

Whenever a stub is used in a chain together with Reactor's [Context API](https://projectreactor.io/docs/core/release/reference/#_the_context_api) the provided context does not propagate correctly. My guess is, that using `subscribe()` within [ClientCalls](https://github.com/salesforce/reactive-grpc/blob/2b571218655674450ddd0b45af38b5bb0afd0915/reactor/reactor-grpc-stub/src/main/jav

[2019-10-11 16:00] krakowski commented on #195
I could fix this in the `one-to-one` case by using `flatMap` instead of `subscribe`, though I'm not sure if this is correct since I removed the `SubscribeOnlyOnceLifter`.

[code]

[2019-10-11 18:27] krakowski commented on #195
I implemented a [failing test](https://github.com/krakowski/reactive-grpc/blob/c7eb05ea23bb9994334af7cc93b4c0c69dbe187d/reactor/reactor-grpc-test/src/test/java/com/salesforce/reactorgrpc/ReactorContextPropagationTest.java) for this issue.

  - `oneToMany` - :heavy_check_mark:
  - `oneToOne` - :x:
  - `manyToOne` - :x:
  - `manyToMany` - :x:

[2019-12-01 08:50] shelliglick opened #196 "add deadline to delegatestub"
Missing support to add a deadline to the `newReactorStub`, like so:

[code]

[2019-12-02 16:30] rmichela commented on #196
Are you using the latest version of Reactive-gRPC? Generated stubs extend `io.grpc.stub.AbstractStub<T>`, which gives them all the same features as native gRPC stubs.

I've verified that the following example compiles and works as expected:
[code]

[2020-01-16 15:12] grigorryev opened #197 "Question about call cancellation mechanism"
In usual, non-reactive grpc, if server makes outbound call during processing of inbound call, and this inbound call gets cancelled, the outbound one is cancelled as well. As I understand, this is implemented implicitly using `Context`, which is thread-local for both inbound and outbound call.

I don't understand how it works in a reactive environment, where there are no thread local entities share

[2020-01-16 17:24] rmichela commented on #197
I'm pretty sure transitive call cancellation works.

For RxJava, reactive-grpc can propagate the gRPC context [easily between Rx threads](https://github.com/salesforce/reactive-grpc/tree/master/rx-java#grpc-context-propagation). Context propagation with Reactor comes with a [few additional caveats](https://github.com/salesforce/reactive-grpc/tree/master/reactor#grpc-context-propagation).

For stre

[2020-01-16 19:47] grigorryev commented on #197
It definitely works, but I started receiving unexpected cancellations for outbound calls that should not be cancelled. They happen in production and are quite unstable, and I haven't managed to provide an example reproducing it. So I'm trying to clarify how this mechanism is implemented internally.

I use Reactor context to propagate data (like auth tokens) from server's `current()` gRPC context o

[2020-01-16 20:34] rmichela commented on #197
Hmm... I'm worried that you are getting unexpected cancellations. Debugging Rx is notoriously difficult at the edges.

[2020-01-20 08:38] grigorryev commented on #197
I struggle to provide solid example of code failing transitive cancellation, as I don't understand how to validate it, but I'm pretty sure that something like this would do the trick:

[code]

As `ClientCall` is created on thread from `parallel()` thread pool and takes `Context.current()` as its context, `CancellationListener`s chain between `ServerCall` and `ClientCall` is broken and upstream sub

[2020-01-21 09:49] grigorryev commented on #197
UPD: turns out, there is also mechanism of subscription cancellation via cancellation of reactive pipeline.
It is done in `com.salesforce.reactorgrpc.stub.ReactorClientStreamObserverAndPublisher`, and it works even for example above. So, transitive call cancellation works just fine :)

My problem was with calls that were being invoked outside of the server call context (e.g. by @Scheduled, or duri

[2020-01-21 14:33] rmichela commented on #197
I'm glad you found a solution, @grigorryev.

I've fought with Reactor context propagation before and must confess, it never made sense to me. Is `Context.current.fork().call(...)` something that should _always_ be in the reactor `ClientCalls` stub?

Would you be willing to share your experience by updating the [Reactor context documentation](https://github.com/salesforce/reactive-grpc/tree/master/

[2020-01-21 18:24] grigorryev commented on #197
I believe so right now. However, to be sure, I think I need to provide an example of code demonstrating the problem, right? I'll try to do it in few days.

Of course, but I think we should properly validate it first.

[2020-01-21 18:58] grigorryev commented on #197
Btw, what would be really great to have in ClientCalls is an opportunity to inject some hook that will fill gRPC Context with data from Reactor's context. That was the main reason why we implemented our own version of ClientCalls long time ago.
Our current mechanism of context propagation looks like this:
1) When we receive a server call, we fill grpc-context with things like authentication and tr

[2020-01-21 21:13] #196 closed

[2020-01-28 13:11] gertvdijk opened #198 "Unable to build with Bazel with plaintext HTTP Maven URLs"
[code]

I believe this is due to the use of plaintext http in:
https://github.com/salesforce/reactive-grpc/blob/ab8e86e1d951f3a7ab9802a31ab73cd5ba3b8e3b/bazel/repositories.bzl and the change at Maven Central this month:
https://blog.sonatype.com/central-repository-moving-to-https

[2020-01-28 13:53] #198 closed

[2020-01-31 17:31] grigorryev commented on #197
@OlegDokuka (asked me to tag him here)

[2020-02-20 02:52] rmichela opened #202 "RxJava 3"
Please vote this issue up if you need RxJava3 support

[2020-03-09 14:31] mlex opened #203 "Usage of Mono.compose and Mono.as in README is misleading"
The paragraph "Don't break the chain" (https://github.com/salesforce/reactive-grpc/tree/master/reactor#oneone-manymany) recommends using `Flux/Mono.compose` and `as` to chain with other reactor operations.

However `compose` and `as` behave different: `as` executes the given transformer directly, which in the example would directly do a grpc call. `compose` executes the given transformer lazily wh

[2020-05-07 14:33] #203 closed

[2020-05-07 14:40] rmichela commented on #197
@grigorryev Please let me know if there is more to do with Reactor context propagation.

[2020-05-07 14:40] #197 closed

[2020-05-07 14:41] rmichela commented on #194
Closing due to lack of repro.

[2020-05-22 21:55] dyangelo-grullon commented on #195
@rmichela a team of mine is thinking of adopting this library, but it's concerning that this bug has been opened since October 2019 without a response from the maintainers. Is there any documentation on how to properly propagate the reactor context? Is this an actual bug?

[2020-05-23 02:52] rmichela commented on #195
I've found the documentation and examples for using reactor context to be sorely lacking.

I'm not entirely sure. The absence of "me too" reports has me wondering if this is a real issue.

[2020-05-23 02:55] rmichela commented on #195
Do you use reactor context? If so, are you experiencing this issue?

[2020-05-26 07:57] rudolpho1 opened #210 "rxgrpc-1.0.0-linux-s390_64.exe is not available"
Hi, first I would like to mention that I really like the work you did!! Now, here is the issue I have: For a project where I am using rxgrpc I have the requirement to compile it on s390 architecture (an IBM z-System). Unfortunately this does not work, because the plugin exe is only available for linux-x86_64 but not for linux_s390_64. I had the same problem with protoc and the grpc plugin, but the

[2020-05-30 23:12] SuperJugy commented on #202
Any ETA on RxJava3 support?

[2020-05-30 23:31] rmichela commented on #202
Haven't started it yet. But it seems there is some interest 😁

[2020-05-30 23:35] rmichela commented on #210
Are you using Maven or Gradle as your build system? For Maven, the plugin is natively invoked by the maven-protobuf-plugin as a java class.

On gradle, the gradle-protobuf-plugin must shell out to an executable. In that case, the jar is packaged with Canteen, which makes it self-executing using a golang stub. You will first need to cross compile Canteen for your system, then use that to package re

[2020-05-30 23:36] rmichela commented on #195
Following up. Is this still an issue for you?

[2020-05-31 11:29] krakowski commented on #195
Hi all,

just rebased [my tests from last year](https://github.com/krakowski/reactive-grpc/blob/test/195/reactor-context/reactor/reactor-grpc-test/src/test/java/com/salesforce/reactorgrpc/ReactorContextPropagationTest.java) on the current `master` branch and ran them again.

![tests](https://i.imgur.com/PUxd7Ec.png)

I use [Reactor's Context API](https://projectreactor.io/docs/core/release/referen

[2020-06-02 15:05] Dimezis opened #211 "Don't break the chain [Question]"
Hey, I'm reading this doc https://github.com/salesforce/reactive-grpc/blob/be8b74077cae5bbbe5ad360dbdcf37eb3f8b2f9b/rx-java/README.md

and trying to understand why the `compose/as` operators are preferable to a direct invocation.
Why exactly should I prefer this
`singleRequest.compose(stub::sayHello)`
to something like this
`stub.sayHello(singleRequest)`?
What are the consequences of doing it this

[2020-06-02 15:53] rmichela commented on #211
Using `compose/as` is less immediately useful when doing simple unary RPC invocations. It really comes into play when you want a service call to be a middle step in a much longer reactive change.

For example (pseudocode) `ClickEventSource -> debounce(1s) -> map(event to Request) -> compose(stub::boxService) -> map(Response to coordinates) -> subscribe(drawBoxOnScreen(coordinate))`

[2020-06-02 16:03] Dimezis commented on #211
So it's just a matter of convenience, but not some functional requirement?

[2020-06-08 08:08] ParasBharde opened #212 "Caching the Mean of a Vector"

[2020-06-08 13:45] rmichela commented on #212
What is this?

[2020-06-09 12:19] dimi-nk opened #213 "reactor fails to generate gRPC stub in latest version"
Hey,

|gRPC|protoc|reactive|
|---|---|---|
|1.29.0|3.12.2|1.0.1|

I just updated to the latest gRPC/protoc/reactive-grpc and the compiler fails with the following message:

[code]

And the generated code:

[code]

I'm using this maven plugin to generate the stubs:

[code]

I also tried your protoc [plugin](https://github.com/salesforce/reactive-grpc/tree/master/reactor#maven), but I get the same i

[2020-06-09 13:24] rmichela commented on #213
Which versions were working before? Did you upgrade everything all at once, or step by step?

[2020-06-09 14:14] cbornet commented on #213
Strange because io.grpc.stub.AbstractStub.StubFactory seems to still exist : https://github.com/grpc/grpc-java/blob/049b12818b87aae4df9a92fbe35540b92a653dee/stub/src/main/java/io/grpc/stub/AbstractStub.java#L258
Are you sure you pull the `grpc-stub` dependency ?

[2020-06-09 14:20] dimi-nk commented on #213
@cbornet what seems to be missing is the `StubFacotry` inner class from `AbstractStub`

[2020-06-09 14:24] dimi-nk commented on #213
@cbornet it looks like this is being resolved wrong

![image](https://user-images.githubusercontent.com/2273840/84159698-42f51c00-aa65-11ea-851f-5ef6b947ddda.png)

[2020-06-09 14:26] cbornet commented on #213
What version of `io.grpc:grpc-stub` is resolved ?

[2020-06-09 14:26] dimi-nk commented on #213
`1.29.0`

[2020-06-09 14:29] dimi-nk commented on #213
However, the compiler seems to be picking up the `AbstractStub` class bundled inside `com.salesforce.servicelibs:reactor-grpc-stub:1.0.1` as shown above.

[2020-06-09 14:43] #210 closed

[2020-06-09 14:43] #211 closed

[2020-06-09 14:43] #212 closed

[2020-06-09 14:58] dimi-nk commented on #213
@rmichela

I've updated them all at ones since I expected the latest versions of all three would play together a bit better.

|gRPC|protoc|reactive|
|---|---|---|
|1.25.0|3.11.1|0.9.0|

[2020-06-09 15:01] dimi-nk commented on #213
Updating gRPC and protoc to the latest while leaving `reactor-grpc` to `0.9.0` seems to work.

[2020-06-09 15:09] dimi-nk commented on #213
So, the build works up to `reactor-grpc`&`reactor-grpc-stub` `0.10.0`. The moment I pop that to `1.0.0`, the dependency brings some `io.grpc` classes bundled with it and breaks the compilation. I looked at the commits between `0.10.0` and `1.0.0` and it might be the introduction of Canteen.

[2020-06-09 15:10] cbornet commented on #213
`reactor-grpc-stub` doesn't bundle `grpc-stub`. It's `reactor-grpc` which bundles it but it's only used during code generation.
I don't reproduce your issue with the reactor-chat demo. Could you give your full pom.xml ?

[2020-06-09 15:14] cbornet commented on #213
Ensure that you don't have `reactor-grpc` in your dependencies. It's meant to be used only in the protocPlugins section.

[2020-06-09 15:14] dimi-nk commented on #213
@cbornet I'm not saying `reactor-grpc-stub` is, but `reactor-grpc` bring all the dependencies as part of its classpath. Like I've shown in the screenshot above, `reactor-grpc` introduces the class `io.grpc.stub.AbstractStub` and the maven compiler is trying to use that rather than the class brought by `grpc-stub`. The reactor's `AbstractStub` is missing the `StubFactory` inner class.

[2020-06-09 15:14] dimi-nk commented on #213
AH, maybe that's the reason then.

[2020-06-09 15:16] dimi-nk commented on #213
My bad then missed that in the documentation! Sorry for the spam, I thought I was on to something 😂. Thanks for the help.

[2020-06-09 15:16] #213 closed

[2020-06-09 15:18] cbornet commented on #213
@rmichela maybe we could shade `io.grpc` packages in `reactor-grpc` so that accidentally pulling it doesn't break everything ?

[2020-06-09 15:51] rmichela opened #214 "Shade and relocate dependencies in reactor-grpc and rx-grpc plugin"
As seen in #213, accidentally adding the `reactor-grpc` protoc compiler plugin to the classpath causes confusing compilation failures.

Shade and relocate dependencies into the compiler plugins to prevent this from happening.

[2020-08-04 04:31] jibs239 opened #215 "Is Java 7 supported?"
The documentation mentions that the generated code targets Java 6 and above.
https://github.com/salesforce/reactive-grpc#android-support

However, I observe that the generated code uses method references in a few places. Also, Maven build generates the below error.
Exception in thread "main" java.lang.UnsupportedClassVersionError: com/salesforce/rxgrpc/RxGrpcGenerator : Unsupported major.minor ver

[2020-08-05 05:51] AndreasLarssons commented on #202
I made an upgrade for myself that does compile all files to RxJava3 and also uses RxJava3 for all internal files. Also upgraded to Java 11.

The main issue I had was that TestSubsriber has changed a lot of the methods on it so the had to change all tests and remove some asserts that were no longer available. I also could not figure out how to do the
StreamObserverAndPublisherTest.multithreadingFus

[2020-08-05 13:58] rmichela commented on #202
Can you start a PR with RxJava3? @OlegDokuka might be able to help you with the fusing code. He knows way more about that than I do.

[2020-08-06 01:18] AndreasLarssons commented on #202
PR submitted https://github.com/salesforce/reactive-grpc/pull/216

[2020-08-07 13:50] Tiller opened #218 "[reactor-grpc][question] grpc context in subscriber context"
Hi,

I was wondering if the following could be a good addition: In `ServerCalls`, to add the `Context.current()` into the subscriber context. This would allow to have the grpc context available at anytime within the handling functions without worrying if the thread was switched or not.

The very best solution would be to put all values of the grpc context into the subscriber context, but it doesn'

[2020-08-07 13:55] rmichela commented on #218
How would that work if a server subscriber then called another gRPC service? The gRPC context would then be broken unless you knew to explicitly set the client request context.

[2020-08-07 14:58] Tiller commented on #218
I must say that I only thought about the server's side context, and not about the server then playing the role of a client. If I'm not mistaken (and I might be, I only started with week with grpc & reactive-grpc) the `ServerCalls` method is only used when handling client requests on the server side. So even if the server were to call other services, they would not override the context and the serv

[2020-08-13 08:05] rockiee281 opened #220 "[Reactor-grpc] Got problem using many to one"
I'm going to create service do some action as bellow:

1.  receive audio stream and cache to local file
2. decode the audio data to PCM file   when got all the audio data
3. transform audio data to text
4. return the text result

Service:
[code]

Server side:
[code]

Client side:
[code]

I create a many to one service using reactive-grpc and got errors bellow. Seems http2 stream was closed before

[2020-08-13 11:42] rockiee281 commented on #220
Sorry but I forget to log runtime exception

[2020-08-13 11:42] #220 closed

[2020-08-31 08:20] tukez opened #221 "NullPointerException in server side during closing stream"
I got a bug report for a NPE, here is the stack from the report:

[code]

Thats all I have on this currently, sorry. I couldn't reproduce this on my local machine.

Looking at the `AbstractSubscriberAndProcuder.cancel`, it seems to me like it's just missing a null check. I can't say is calling the cancel-method in that situation valid though.

[2020-09-01 04:31] rmichela commented on #221
Thanks for the report!

[2020-09-01 09:49] jorgerod opened #222 "[BUG] Requests with Grpc Reactive Client are completed at the end of the flow"
## Describe the Bug

Requests with Grpc Reactive Client are completed at the end of the flow and not when the response to that request is obtained.

This treatment causes the failure of the instrumentation with other components (metrics or traces).

[code]

In this example, as the call to the onComplete function is made to the end of flow.
Brave tracing instrumentation or metrics instrumentation a

[2020-09-01 14:11] rmichela commented on #222
Thanks for pointing this out @jorgerod. It's a great example of some subtle and unintuitive interaction between gRPC and Rx.

In gRPC, unary blocking RPC is a lie. The only part about gRPC that understands unary blocking RPC is the topmost layer of generated client stub. Below that, everything in gRPC is streaming and asynchronous. A unary blocking request is really just a request and response str

[2020-09-03 15:18] jorgerod commented on #222
Hello

First of all, thank you very much for your answer.

I have continued to review the issue in more depth and have tested the behavior in the following cases:
- Streaming
- Futures
- Reactive

### Grpc client Streaming:

With the example below, I tried streaming.

[code]

I agree with you, the span should be closed when the onComplete event is emitted because you don't know the number of messa

[2020-09-11 17:12] joschi opened #223 "[Canteen] Executable doesn't work with asdf-java on macOS"
This issue is a little bit more exotic, I guess.

I'm using [asdf](https://asdf-vm.com/) and [asdf-java](https://github.com/halcyon/asdf-java) as version manager for managing the JRE/JDK environments on my machine running macOS.

Since the introduction of the executables created with Canteen in #188, I'm unable to use `reactive-grpc` with Gradle because `asdf` cannot find the configured JDK due to

[2020-09-20 02:02] #221 closed

[2020-09-20 03:27] rmichela commented on #223
Looks like upgrading to Canteen 1.0.1 should fix this: https://github.com/salesforce/grpc-java-contrib/releases/tag/canteen-v1.0.1

[2020-09-21 08:57] jorgerod commented on #222
Hi

@rmichela What do you think?

This topic is very important to us.

Trank you

[2020-09-23 07:27] HelloCoCooo opened #226 "Dependency conflicts on io.netty:netty-common, leading to inconsistent program behaviors"
Hi, in **reactive-grpc/common/reactive-grpc-benchmarks**, there are mulptiple versions of library **io.netty:netty-common**. However, according to Maven's dependency management strategy: **_"first declaration wins"_**, only **io.netty:netty-common:4.1.33.Final** can be loaded, and **io.netty:netty-common:4.1.38.Final** will be shadowed.

**In total, there are 4 conflicting API pairs between these

[2020-09-23 07:28] HelloCoCooo commented on #226
@rmichela Could please help me check this issue?
May I pull a request to fix it?
Thanks again.

[2020-09-23 14:09] rmichela commented on #226
Solution 3 is best. We always want the version of Netty gRPC is using.

Thanks so much for submitting this. Please submit a PR.

Was this issue found with a code scanning tool?

[2020-09-23 14:57] HelloCoCooo commented on #226
I implemented an automated tool, which combines static analysis and dynamic testing to detect such potencial semantic behavior changes due to dependency conflicts.
By static analysis we can identify the dependency conflict issues and compare the differences of control flows and data flows between the shadowed method and loaded method (with the same signature).
Then, for the isomerous method pairs,

[2020-09-23 16:04] rmichela commented on #226
I'd love to see your scanner. Is there a github repo I can check out?

[2020-09-23 18:09] #223 closed

[2020-09-24 18:55] rmichela commented on #222
I'm really on the fence about this issue because it changes the internal behavior of reactive-grpc. Do you have an example for how this would look in code?

[2020-10-15 13:15] odidev opened #229 "reactor-grpc-1.0.1-linux-aarch_64.exe availability for aarch64"
I am working to make [Armeria](https://github.com/line/armeria) available for aarch64 platform.

Armeria build on aarch64 platform is failing with below error, **in seek of aarch64 specific binary availability at [maven repo](https://repo1.maven.org/maven2/com/salesforce/servicelibs/reactor-grpc/1.0.1/)**:
[code]

Please share the plan to release the same for aarch64. Also, if there is any way to

[2020-10-31 05:17] #226 closed

[2020-11-03 08:15] Tiller opened #230 "Support optional feature"
Hello,
With protobuf 3.12.x came the experimental feature of the optional fields. The general availability was targeted to 3.13.x but has been postponed to (hopefully) the next release.
I tried to use the experimental feature, but I can't get it to work with reactive-grpc, I get the following message:

Could you consider supporting this feature? Thanks

https://github.com/protocolbuffers/protobuf/

[2020-11-29 12:18] iamceph opened #232 "Java execution error: exec: "java": executable file not found in %PATH%"
Hey there, I got a problem with generating protofiles for Reactor.

I am using Gradle 6.7.1 with latest grpc gradle plugin (0.18.4) and with latest gRPC (1.33.1).
It seems that I just cannot create Reactor files due to this error. Any help would be appreciated :)

`Execution failed for task ':protofiles:generateProto'.

  --reactor_out: protoc-gen-reactor: Plugin failed with status code 1.`

[2021-01-04 09:36] Zetten opened #233 "Reactor Core 3.4.x (Europium) compatibility"
My Bazel-built project has just updated to io.projectreactor:reactor-core:3.4.1, and can no longer build the reactor-grpc-stub library due to an API change affecting the `retryWhen` method:

[code]

As a simple workaround I'm patching with:

[code]

I would submit a PR, but I'm not sure whether there are more changes which might affect other use cases!

[2021-02-18 15:39] davidwu1010 opened #234 "Set error code and error message?"
Hi,

How can I set error codes and error messages when using reactive-grpc with Reactor?
Currently, my grpc server only sends errors with Code: Unknown and empty messages.

Thank you.

[2021-03-19 14:07] joschi commented on #223
For the time being, I fixed it by modifying the `java` shim of `asdf-java` as follows (`export ASDF_DATA_DIR` in the first line of the script):
[code]

[2021-03-19 14:27] rmichela commented on #232
I think this is fixed in the (unreleased) #225.

[2021-03-19 14:27] #232 closed

[2021-03-31 11:03] captainhorsepower commented on #230
UPD. Optional is no longer an experimental feature, but plugin still needs to signal that it supports optional fields.

[2021-04-16 17:08] rmichela commented on #215
It's increasingly difficult to support 10 year old JDKs. Starting with 1.1.0 >= java 8 will be required.

[2021-04-16 17:08] #215 closed

[2021-04-16 17:09] #143 closed

[2021-04-16 18:49] #230 closed

[2021-04-16 18:50] rmichela commented on #230
Implemented in 1.1.0

[2021-04-16 18:55] rmichela commented on #229
Fixed in v1.1.0

[2021-04-16 18:55] #229 closed

[2021-04-16 22:07] #214 closed

[2021-04-19 19:38] rmichela commented on #233
Digging into this issue now. Reactor made breaking API changes in a Minor release. That sucks. I'm thinking about ways to maintain support for different releases of Reactor side by side.

[2021-04-23 06:01] trustin commented on #223
Here's my version of the `java` shim:

[code]

Even the `HOME` env var was missing in my case :laughing:

[2021-04-30 10:53] krakowski commented on #195
Since I will most likely be using this library again in the near future, I took another look at the issue. Shortly after my last message last year, the following post was written regarding context loss detection, which discusses in which cases the Reactor context can be lost.

  * [Daily Reactive: Context loss detection in Project Reactor](https://bsideup.github.io/posts/daily_reactive/context_los

[2021-05-26 16:31] san4d opened #239 "Reactor Plugin Doesn't Generate Stub On Recent Versions"
# Summary
On a minimal project using the `reactor-grpc` plugin, there is a compile issue caused by a missing stub class.

[code]

| Java  |  protoc | reactor-grpc | protoc-gen-grpc-java | protobuf-maven-plugin |
| ----- | ------- | ------------- | ----------------------| ----------------------- |
|  11.0.11 |  3.17.1 |  1.0.1 |  1.38.0 | 0.6.1 |

# Reproducing the Issue
Create a simple Maven proje

[2021-05-26 18:19] rmichela commented on #239
It's possible the Reactor team issued a breaking change again. They have no problem introducing incompatible changes without warning.

[2021-05-26 19:18] san4d commented on #239
I just tried with RxJava and see the same exact error.  I feel like that's strong evidence it's related to the `org.xolstice.maven.plugins` integration.

[2021-06-23 14:19] Dimezis opened #240 "Support field presence API in Proto 3"
When compiling protobufs with protoc-gen-rxgrpc and the new field presence API (optional modifier in Proto 3 messages), this error occurs:

[code]

https://github.com/protocolbuffers/protobuf/blob/master/docs/field_presence.md
https://github.com/protocolbuffers/protobuf/blob/master/docs/implementing_proto3_presence.md

Could you please update it?

[2021-06-25 13:32] Dimezis commented on #240
I can drop a PR if you're accepting them at the moment

[2021-06-25 13:42] Dimezis commented on #230
May I ask when 1.1.0 will be released?

[2021-06-25 13:49] Dimezis commented on #240
Ah, actually I see it's already implemented, but not released.
Is there any chance this could be released soon'ish?

[2021-06-28 15:24] rmichela commented on #239
What is your os/platform?

[2021-07-03 19:01] #233 closed

[2021-07-03 19:02] rmichela commented on #240
Duplicate of #230

[2021-07-03 19:02] #240 closed

[2021-07-06 19:55] rmichela commented on #221
Released in 1.1.0

[2021-07-06 19:55] rmichela commented on #226
Released in 1.1.0

[2021-07-06 19:55] rmichela commented on #214
Released in 1.1.0

[2021-07-06 19:55] rmichela commented on #233
Released in 1.1.0

[2021-07-06 19:55] rmichela commented on #240
Released in 1.1.0

[2021-07-06 19:55] rmichela commented on #230
Released in 1.1.0

[2021-07-27 12:36] cyberpunk2025 opened #247 "NPE in scheduler thread when use publishOn"
Unit test to reproduce the NPE:

[code]

The output is like this:

[code]

[2021-08-03 17:18] scottslewis commented on #202
For everyone's info:  the rx java3 supported originally submitted by AndreasLarsons has been merged into master in pr #246 .

[2021-08-05 19:43] scottslewis opened #248 "Update grpc-java version to 1.39.0 for next release (1.2?)"
Currently in https://github.com/salesforce/reactive-grpc/blob/master/pom.xml#L74 the grpc-java version referenced is 1.37.1.  The currently released version is 1.39.0.

I will produce pr.

[2021-08-06 18:30] #248 closed

[2021-08-23 15:38] rmichela commented on #202
Released in [1.2.0](https://github.com/salesforce/reactive-grpc/releases/tag/v1.2.0)

[2021-08-24 01:56] scottslewis opened #253 "Dependency to io.reactivex.rxjava3.internal packages"
In using the new rxjava3 support (in osgi framework) I discovered that there is a dependency on these two rxjava3 packages:

There is a dependency in the rx3java-stub (and some test code) on the following two reactivex packages

io.reactivex.rxjava3.internal.fuseable
io.reactivex.rxjava3.internal.queable

The current version of rxjava3 (3.1.0 located here in maven central: https://search.maven.org

[2021-08-24 19:02] scottslewis commented on #253
FYI I've opened this issue for rxjava3 api:

https://github.com/ReactiveX/RxJava/issues/7318

If RxJava folks refuse to make changes to manifest (IMHO they've made a couple of strange decisions wrt internal classes and they should either correct those strange decisions or make these internal.* packages exported in their manifest) it is possible to simply reproduce the reactive-grpc-required intern

[2021-08-28 01:38] rmichela commented on #253
Looks like RxJava3 fixed this for 3.1. We'll have to update the dependency when it becomes available upstream.

[2021-08-28 21:25] scottslewis commented on #253
Yes.   I haven't looked closely yet at API changes, but I suspect that there may be a couple stray dependencies (i.e. internal.util.Functions) that need to be removed from stray test code.   When it becomes available upstream I will prepare any needed changes (probably just reproduce the needed classes/methods in the com.salesforce package namespace).  In mean time,I'm watching issue https://githu

[2021-09-02 22:01] scottslewis commented on #253
With changes to internal packages, rxjava3 3.1.1 is now out at maven central and https://github.com/ReactiveX/RxJava/issues/7324 is now closed.

I've opened pull request to remove the *.internal.* package references to rxjava3, update the rxjava3 dependency to 3.1.1 and update the reactivex-grpc version to 1.2.1.  Please see pr https://github.com/salesforce/reactive-grpc/pull/254

[2021-09-14 10:39] dan1els commented on #234
Well, I did it like that:

[code]

It will return:

[code]

[2021-09-17 16:51] bbemis017 opened #255 "How do you configure how much data is buffered on the producer side?"
I've been poking around different parts the gRPC documentation and I am not sure if I am understanding where data gets buffered correctly.

I have noticed that at the gRPC layer there is a method called `.flowControlWindow(int capacity);`. It seems like you can set a capacity on the [consumer side](https://grpc.github.io/grpc-java/javadoc/io/grpc/netty/NettyChannelBuilder.html#flowControlWindow-in

[2021-09-21 11:27] dan1els commented on #234
Exceptions are actually handled with the next method: `com.salesforce.reactorgrpc.stub.ServerCalls#prepareError`
And unfortunately, all methods of that class are all static, so there's no way to enhance the logic in a legal way.

[2021-09-21 14:04] rmichela commented on #234
`prepareError()` merely wraps an unhandled exception as a gRPC `StatusException`, if it isn't already a `StatusException` or `StatusRuntimeException`.

I believe you can use [`onErrorResume()`](https://projectreactor.io/docs/core/release/api/reactor/core/publisher/Flux.html#onErrorResume-java.util.function.Function-) to transform your unhandled Exception to a `StatusException` with whatever messag

[2021-09-24 17:26] bbemis017 commented on #255
I think I'm understanding this now. For anyone else with this question. I found this diagram above to be a little misleading when you are thinking about buffers. If I could modify the bottom part I would draw something more like this:

![image](https://user-images.githubusercontent.com/8581332/134713471-7ae37806-6096-4667-8e29-45db0dc5148b.png)

A key difference to understand here is that flowCont

[2021-10-05 15:51] rys-gw-wal opened #260 "Wrong manifest main class rx3grpc"
I've tried to use rx3grpc with gradle and I've found a problem.

description:
file: reactive-grpc/rx3-java/rx3grpc/pom.xml

Manifest main class  should be changed:
com.salesforce.rx3grpc.RxGrpcGenerator -> com.salesforce.rx3grpc.Rx3GrpcGenerator

[2021-10-05 16:25] rmichela commented on #260
Is this affecting Gradle?

[2021-10-06 11:20] dan1els commented on #234
That's correct, but it's not possible to introduce some common logic for exception handling because of that.
For instance, we're using spring grpc starter, and it contains very handy `@GrpcAdvice` and `@GrpcExceptionHandler` working closer to its REST analogs.
But it can't work with this library together because this library has that static `prepareError()` which goes before stater interceptor, an

[2021-10-07 08:05] dan1els commented on #234
Yeah, i'll try to find the time to do that

[2021-10-10 18:35] scottslewis commented on #260
I believe this problem will/does affect any attempt to use any of the generator binaries for rx3grpc...e.g.  rx3grpc-windows-x86_64-1.2.2.exe since the reactive-grpc produces these binaries during build as per @rys-gw-wal original observation.    I'm producing a pr with the fix (RxGrpcGenerator -> Rx3GrpcGenerator)

Created pr #261 to apply fix.  I see that the top-level version number has been up

[2021-10-10 19:18] rmichela commented on #260
See #262

[2021-10-10 19:36] #260 closed, assigned to nobody

[2021-10-10 19:37] rmichela commented on #253
Fixed in 1.2.2

[2021-10-10 19:37] #253 closed

[2021-10-10 19:39] #202 closed

[2022-01-19 07:24] BryanSong opened #285 "Backpressure Demo has compile error on Windows"
Below error happens when compiling backpressure-demo on Windows.

[INFO] ------------------------------------------------------------------------
[INFO] Total time:  1.951 s
[INFO] Finished at: 2022-01-19T16:10:04+09:00
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal on project backpressure-demo: Could not resolve dependencies for proj

[2022-01-23 20:26] rmichela commented on #247
Not reproducible - closing

[2022-01-23 20:26] #247 closed

[2022-01-23 20:27] rmichela commented on #239
Not reproducible - closing

[2022-01-23 20:27] #239 closed

[2022-01-23 20:52] #285 closed

[2022-01-25 05:34] Jeff0002 opened #287 "stub.invoke().retry() throws exception"
stub.invoke().retry() throws below exception when executing retry logic:
[code]
Not sure why it happens but I guess "retry" need to clear the existing subscription then resubscribe here?

[2022-01-28 17:09] lobanovdmitry commented on #234
@rmichela Hello, just want to ask about related issue we faced.
Reactor doesn't handle "Jvm Fatal Errors" (https://projectreactor.io/docs/core/release/reference/#_handling_exceptions_in_operators_or_functions), so, for example: if somewhere in the code such exceptions occur (for example NoSuchMethodError), we can't handle it using onError(), etc... While such errors are handled in https://github.c

[2022-02-13 12:32] owetterau opened #291 "Async resource cleanup failed after onComplete / call already closed"
Hello,

I ran into an issue using "spring-boot-starter-data-mongodb-reactive". When calling this server method, see two errors ("Async resource cleanup failed after onComplete", "call already closed") on the server (see attached error log). On the GRpc client I see this error: `{ "error": "13 INTERNAL: Half-closed without a request" }`

GRpc server:
[code]
Business service:
[code]
Repository:
[cod

[2022-02-13 17:22] bruto1 opened #292 "Add onDiscard hook support to AbstractStreamObserverAndPublisher"
Currently, upon cancellation it just clears the queue, but its elements, for example, can be backed by reference counted objects which need to be released before being garbage collected (it's possible thanks to https://github.com/GoogleCloudPlatform/grpc-gcp-java/pull/77 )
An example of when and how discarding is done can be found in FluxFlatMap, for example, or any other operator impl with a queu

[2022-02-17 08:30] #287 closed

[2022-02-17 08:31] Jeff0002 commented on #287
I guess that's by design. Issue closed.

[2022-02-23 18:02] juanpmarin opened #294 "host_javabase is deprecated"
Since bazel 5.0 the parameter used here is deprecated:

https://github.com/salesforce/reactive-grpc/blob/071f153e61c2f8dcd1df287b51dd71cd34a39fd3/bazel/java_reactive_grpc_library.bzl#L74

Generating the following error:
[code]

[2022-03-09 20:17] Freddv2 commented on #195
Hello, we're having the same issue here. Activating enableContextLossTracking() show that the context was lost at:
[code]

[code]

[2022-03-24 19:17] bruto1 commented on #291
I don't think it is

[2022-06-14 14:12] deepak-auto opened #295 "Possible to have non-publisher for RPC method parameter?"
Using the example in the README, can we have this method signature
[code]
instead of
[code]
?

This way, we can access the `request` object from anywhere in the method. It will prevent us from writing an extra `map` function as in the example above.

[2022-08-09 13:38] JooKS-me opened #296 "In ManyToOne and ManyToMany, remote method is called before the client subscribe"
Hi folks, I found a problem when I use it like below.

[code]
When I did not subscribe, the client terminal printed out the data, and the server side also showed that the data was received. Is this a bug? Or are there any other considerations?

Maybe we should add a doOnSubscribe after Flux.from(xxx) and defer delegate.apply until it is subscribed? https://github.com/salesforce/reactive-grpc/blob/

[2022-09-26 07:47] doukai opened #297 "project still active？"
The last version was a year ago, is the project still active?

[2022-09-26 11:30] rmichela commented on #297
I'd call it more feature complete. GRPC and RX are both very stable APIs.

[2022-09-27 04:03] #297 closed

[2022-10-20 15:17] ivy-kl-chan opened #299 "UnsupportedOperationException thrown in the generated stub with Java 17"
Hello!
I'm getting and UnsupportedOperationException when running ClientCalls.manytoMany with the stub generated with both rx3Java and rxJava.
I'm using Java 17. What would be the possible cause of the problem?

[2022-10-28 06:37] cyberpunk2025 opened #300 "Unexpedted error log"
when client canceled the grpc stream: this error will be printed:
13:55:37.898 ERROR [ault-executor-3] [    r.core.publisher.Operators] [        ] Operator called default onErrorDropped

version: 1.2.3

[2022-11-01 14:14] #300 closed

[2022-11-01 14:14] cyberpunk2025 commented on #300
Not happen in the example code.

[2022-11-04 06:36] code-uri commented on #195
Hello everyone,

Any Update one this. any work around?

[2022-11-04 10:25] code-uri commented on #195
Hello again,
I tried reproducing it but test is passing. am I missing something?

[2022-11-04 10:33] code-uri commented on #195
I tried the test again using subscribeOn() the test failed.

[2022-11-04 12:36] krakowski commented on #195
Hey @code-uri,

I rebased my tests from 3 years ago again on top of the current `master` to check if this was fixed (120 commits since then) and they still seem to fail. You can try out the tests in my personal branch which reproduces this issue.

  * https://github.com/krakowski/reactive-grpc/blob/test/195/reactor-context/reactor/reactor-grpc-test/src/test/java/com/salesforce/reactorgrpc/ReactorC

[2022-11-24 23:18] bsideup commented on #295
Duplicate of https://github.com/salesforce/reactive-grpc/issues/78 (shouldn't be closed, btw :))

[2022-11-24 23:58] bsideup commented on #295
Have submitted https://github.com/salesforce/reactive-grpc/pull/301 (better later then never, huh? 😄)